project/Quantraclua/LUA.json
[{"id":"0328a4e527a540bb","type":"tab","label":"RICE STATION","disabled":false,"info":"","env":[]},{"id":"935747cc811fe4b2","type":"debug","z":"0328a4e527a540bb","name":"debug 9","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1380,"y":500,"wires":[]},{"id":"81e5784a3e0acb2b","type":"mqtt out","z":"0328a4e527a540bb","name":"data/view","topic":"data/view","qos":"2","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d02509b1007ac55","x":1380,"y":440,"wires":[]},{"id":"fb973e9576037010","type":"function","z":"0328a4e527a540bb","name":"THOAI SON ORGANIC 01","func":"const data = msg.payload;\nfunction getFormattedTime() {\n    let now = new Date();\n    return now.toISOString(); // Trả về thời gian theo định dạng ISO 8601\n}\nconst sensorRecords = [\n    { \"dataStreamId\": \"30\", \"result\": data.Di + \"cm\" },\n    { \"dataStreamId\": \"31\", \"result\": data.Tem + \"°C\" },\n    { \"dataStreamId\": \"32\", \"result\": data.Hum + \"%rH\" },\n    { \"dataStreamId\": \"33\", \"result\": data.EC + \"µS/cm\" },\n    { \"dataStreamId\": \"34\", \"result\": data.PH + \"\" },\n    { \"dataStreamId\": \"35\", \"result\": data.Ni + \"mg/kg\" },\n    { \"dataStreamId\": \"36\", \"result\": data.Pho + \"mg/kg\" },\n    { \"dataStreamId\": \"37\", \"result\": data.Ka + \"mg/kg\" },\n    { \"dataStreamId\": \"38\", \"result\": data.Pin + \"V\" }\n];\n\nmsg.payload = {\n    \"sensorRecords\": sensorRecords,\n    \"resultTime\": getFormattedTime()  // Cập nhật thời gian hiện tại\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":440,"wires":[["935747cc811fe4b2","81e5784a3e0acb2b"]]},{"id":"8dc78011a4dbfbf0","type":"function","z":"0328a4e527a540bb","name":"THOAI SON ORGANIC 02","func":"const data = msg.payload;\nfunction getFormattedTime() {\n    let now = new Date();\n    return now.toISOString(); // Trả về thời gian theo định dạng ISO 8601\n}\nconst sensorRecords = [\n    { \"dataStreamId\": \"39\", \"result\": data.Di + \"cm\" },\n    { \"dataStreamId\": \"40\", \"result\": data.Tem + \"°C\" },\n    { \"dataStreamId\": \"41\", \"result\": data.Hum + \"%rH\" },\n    { \"dataStreamId\": \"42\", \"result\": data.EC + \"µS/cm\" },\n    { \"dataStreamId\": \"43\", \"result\": data.PH + \"\" },\n    { \"dataStreamId\": \"44\", \"result\": data.Ni + \"mg/kg\" },\n    { \"dataStreamId\": \"45\", \"result\": data.Pho + \"mg/kg\" },\n    { \"dataStreamId\": \"46\", \"result\": data.Ka + \"mg/kg\" },\n    { \"dataStreamId\": \"47\", \"result\": data.Pin + \"V\" }\n];\n\nmsg.payload = {\n    \"sensorRecords\": sensorRecords,\n    \"resultTime\": getFormattedTime()  // Cập nhật thời gian hiện tại\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":500,"wires":[["935747cc811fe4b2","81e5784a3e0acb2b"]]},{"id":"0515493d2a75345b","type":"function","z":"0328a4e527a540bb","name":"THOAI SON COMMON 01","func":"const data = msg.payload;\nfunction getFormattedTime() {\n    let now = new Date();\n    return now.toISOString(); // Trả về thời gian theo định dạng ISO 8601\n\n}\nconst sensorRecords = [\n    { \"dataStreamId\": \"48\", \"result\": data.Di + \"cm\" },\n    { \"dataStreamId\": \"49\", \"result\": data.Tem + \"°C\" },\n    { \"dataStreamId\": \"50\", \"result\": data.Hum + \"%rH\" },\n    { \"dataStreamId\": \"51\", \"result\": data.EC + \"µS/cm\" },\n    { \"dataStreamId\": \"52\", \"result\": data.PH + \"\" },\n    { \"dataStreamId\": \"53\", \"result\": data.Ni + \"mg/kg\" },\n    { \"dataStreamId\": \"54\", \"result\": data.Pho + \"mg/kg\" },\n    { \"dataStreamId\": \"55\", \"result\": data.Ka + \"mg/kg\" },\n    { \"dataStreamId\": \"56\", \"result\": data.Pin + \"V\" }\n];\n\nmsg.payload = {\n    \"sensorRecords\": sensorRecords,\n    \"resultTime\": getFormattedTime()  // Cập nhật thời gian hiện tại\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":560,"wires":[["935747cc811fe4b2","81e5784a3e0acb2b"]]},{"id":"a4e9f7e82cd12571","type":"function","z":"0328a4e527a540bb","name":"THOAI SON COMMON 02","func":"const data = msg.payload;\nfunction getFormattedTime() {\n    let now = new Date();\n    return now.toISOString(); // Trả về thời gian theo định dạng ISO 8601\n}\n\nconst sensorRecords = [\n    { \"dataStreamId\": \"57\", \"result\": data.Di + \"cm\" },\n    { \"dataStreamId\": \"58\", \"result\": data.Tem + \"°C\" },\n    { \"dataStreamId\": \"59\", \"result\": data.Hum + \"%rH\" },\n    { \"dataStreamId\": \"60\", \"result\": data.EC + \"µS/cm\" },\n    { \"dataStreamId\": \"61\", \"result\": data.PH + \"\" },\n    { \"dataStreamId\": \"62\", \"result\": data.Ni + \"mg/kg\" },\n    { \"dataStreamId\": \"63\", \"result\": data.Pho + \"mg/kg\" },\n    { \"dataStreamId\": \"64\", \"result\": data.Ka + \"mg/kg\" },\n    { \"dataStreamId\": \"65\", \"result\": data.Pin + \"V\" }\n];\n\nmsg.payload = {\n    \"sensorRecords\": sensorRecords,\n    \"resultTime\": getFormattedTime()  // Cập nhật thời gian hiện tại\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":620,"wires":[["935747cc811fe4b2","81e5784a3e0acb2b"]]},{"id":"3d42f17e16e53169","type":"switch","z":"0328a4e527a540bb","name":"","property":"payload.ID","propertyType":"msg","rules":[{"t":"eq","v":"257","vt":"num"},{"t":"eq","v":"258","vt":"num"},{"t":"eq","v":"259","vt":"num"},{"t":"eq","v":"260","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":770,"y":460,"wires":[["fb973e9576037010"],["8dc78011a4dbfbf0"],["0515493d2a75345b"],["a4e9f7e82cd12571"]]},{"id":"7c5e823cf648f2f0","type":"mqtt in","z":"0328a4e527a540bb","name":"","topic":"Sink001Sent","qos":"2","datatype":"auto-detect","broker":"4d02509b1007ac55","nl":false,"rap":true,"rh":0,"inputs":0,"x":610,"y":460,"wires":[["3d42f17e16e53169","463b1f4fb7c80fff"]]},{"id":"9e5b5b501a0d0fa5","type":"mqtt in","z":"0328a4e527a540bb","name":"","topic":"Sink002Sent","qos":"2","datatype":"auto-detect","broker":"4d02509b1007ac55","nl":false,"rap":true,"rh":0,"inputs":0,"x":610,"y":520,"wires":[["3d42f17e16e53169","463b1f4fb7c80fff"]]},{"id":"463b1f4fb7c80fff","type":"debug","z":"0328a4e527a540bb","name":"debug 117","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":600,"wires":[]},{"id":"4d02509b1007ac55","type":"mqtt-broker","name":"iotlab","broker":"103.221.220.183","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]