project/Quantraclua/luaUI.json
[{"id":"f0c59d25945004e2","type":"tab","label":"RICESTATION UI","disabled":false,"info":"","env":[]},{"id":"8d86b0cac268995b","type":"ui_text_input","z":"f0c59d25945004e2","name":"SID","label":"SID","tooltip":"","group":"8409873ff6bd7680","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":430,"y":160,"wires":[["e4db29164c334edd"]]},{"id":"e4db29164c334edd","type":"function","z":"f0c59d25945004e2","name":"function 31","func":"flow.set(\"SID\", msg.payload);\nreturn null; \n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":160,"wires":[["ad6d01601a41e539"]]},{"id":"ad6d01601a41e539","type":"ui_button","z":"f0c59d25945004e2","name":"","group":"8409873ff6bd7680","order":5,"width":0,"height":0,"passthru":false,"label":"SENT","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"1","payloadType":"num","topic":"topic","topicType":"msg","x":810,"y":160,"wires":[["a437a98441bc89cb"]]},{"id":"fb5e42a34b3ac538","type":"ui_dropdown","z":"f0c59d25945004e2","name":"Command ","label":"Command ","tooltip":"","place":"Select option","group":"8409873ff6bd7680","order":2,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"INSTALLATION MODE","value":"IS","type":"str"},{"label":"NORMAL MODE","value":"NIS","type":"str"},{"label":"RESET","value":"RS","type":"str"},{"label":"GET DATA","value":"GD","type":"str"},{"label":"CLEAR SAVED WIFI","value":"CLW","type":"str"},{"label":"SCAN NUMBER OF NODE ","value":"SCN","type":"str"},{"label":"CLEAR ALL NODE","value":"CLN","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":410,"y":220,"wires":[["5b5da475d234b2d1"]]},{"id":"5b5da475d234b2d1","type":"function","z":"f0c59d25945004e2","name":"function 32","func":"flow.set(\"CM\", msg.payload);\nreturn null; \n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":220,"wires":[["ad6d01601a41e539"]]},{"id":"a437a98441bc89cb","type":"function","z":"f0c59d25945004e2","name":"function 33","func":"msg.payload = {\n    IS:1,\n    SID: flow.get(\"SID\"),\n    ID:0,\n    CM: flow.get(\"CM\")\n};\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":990,"y":160,"wires":[["f16f1d9ecb85ecc2"]]},{"id":"2ecfe01304414386","type":"mqtt in","z":"f0c59d25945004e2","name":"","topic":"Sink001Sent","qos":"2","datatype":"auto-detect","broker":"4d02509b1007ac55","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":800,"wires":[["da64dce12059f4df"]]},{"id":"90fa107aed661cf3","type":"mqtt in","z":"f0c59d25945004e2","name":"","topic":"Sink002Sent","qos":"2","datatype":"auto-detect","broker":"4d02509b1007ac55","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":860,"wires":[["da64dce12059f4df"]]},{"id":"cdf1b0e89171e4a4","type":"mqtt in","z":"f0c59d25945004e2","name":"","topic":"Sink001Recieve","qos":"2","datatype":"auto-detect","broker":"4d02509b1007ac55","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":920,"wires":[["da64dce12059f4df"]]},{"id":"46b4e1e36e0332d3","type":"mqtt in","z":"f0c59d25945004e2","name":"","topic":"Sink002Recieve","qos":"2","datatype":"auto-detect","broker":"4d02509b1007ac55","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":960,"wires":[["da64dce12059f4df"]]},{"id":"754c093de3892c06","type":"mqtt out","z":"f0c59d25945004e2","name":"","topic":"Sink001Recieve","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d02509b1007ac55","x":1340,"y":160,"wires":[]},{"id":"a7702e35a5768493","type":"mqtt out","z":"f0c59d25945004e2","name":"","topic":"Sink002Recieve","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d02509b1007ac55","x":1340,"y":220,"wires":[]},{"id":"f16f1d9ecb85ecc2","type":"function","z":"f0c59d25945004e2","name":"function 34","func":"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1150,"y":200,"wires":[["a7702e35a5768493","754c093de3892c06"]]},{"id":"da64dce12059f4df","type":"debug","z":"f0c59d25945004e2","name":"debug 10","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":340,"y":900,"wires":[]},{"id":"422f436ee1b2169e","type":"ui_text_input","z":"f0c59d25945004e2","name":"SID","label":"SID","tooltip":"","group":"4598cceabd1731d4","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":430,"y":280,"wires":[["ca9afe616c115af3"]]},{"id":"ca9afe616c115af3","type":"function","z":"f0c59d25945004e2","name":"function 35","func":"flow.set(\"SID\", msg.payload);\nreturn null; \n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":280,"wires":[["bd1523a40d7d7ace"]]},{"id":"bd1523a40d7d7ace","type":"ui_button","z":"f0c59d25945004e2","name":"","group":"4598cceabd1731d4","order":5,"width":0,"height":0,"passthru":false,"label":"SENT","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"1","payloadType":"num","topic":"topic","topicType":"msg","x":810,"y":280,"wires":[["b296f37bc3ade576","7377c1aca3d77e8f","782f869513402372"]]},{"id":"2d964804036f26fe","type":"ui_dropdown","z":"f0c59d25945004e2","name":"Command ","label":"Command ","tooltip":"","place":"Select option","group":"4598cceabd1731d4","order":3,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"RESET","value":"RS","type":"str"},{"label":"GET DATA","value":"GD","type":"str"},{"label":"CHECK HEALTH","value":"CH","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":410,"y":400,"wires":[["352818bfd6ab8f4f"]]},{"id":"352818bfd6ab8f4f","type":"function","z":"f0c59d25945004e2","name":"function 36","func":"flow.set(\"CM\", msg.payload);\nreturn null; \n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":400,"wires":[["bd1523a40d7d7ace"]]},{"id":"10054fd7f543b774","type":"ui_text_input","z":"f0c59d25945004e2","name":"NID","label":"NID","tooltip":"","group":"4598cceabd1731d4","order":2,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":430,"y":340,"wires":[["18b18284792cfaf7"]]},{"id":"18b18284792cfaf7","type":"function","z":"f0c59d25945004e2","name":"function 37","func":"flow.set(\"ID\", msg.payload);\nreturn null; \n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":340,"wires":[["bd1523a40d7d7ace"]]},{"id":"0a24b96c29d250da","type":"ui_form","z":"f0c59d25945004e2","name":"","label":"","group":"6259381c5278aa2d","order":0,"width":0,"height":0,"options":[{"label":"SID","value":"STATION ID","type":"number","required":false,"rows":null},{"label":"ID","value":"NODE ID","type":"number","required":false,"rows":null},{"label":"LRS","value":"LoRa","type":"text","required":false,"rows":null},{"label":"LRB","value":"LoRa BAND","type":"text","required":false,"rows":null},{"label":"LRF","value":"LoRa FREQUENCY","type":"text","required":false,"rows":null},{"label":"LROP","value":"LoRa OUTPUT POWER","type":"text","required":false,"rows":null},{"label":"RSSI","value":"RSSI","type":"text","required":false,"rows":null},{"label":"SNR","value":"SNR","type":"text","required":false,"rows":null},{"label":"Tem","value":"TEMPERATURE","type":"text","required":false,"rows":null},{"label":"Hum","value":"HUMIDITY","type":"text","required":false,"rows":null},{"label":"EC","value":"EC","type":"text","required":false,"rows":null},{"label":"Ni","value":"POTASSIUM NITRATE","type":"text","required":false,"rows":null},{"label":"Pho","value":"PHOSPHORUS","type":"text","required":false,"rows":null},{"label":"Ka","value":"POTASSIUM","type":"text","required":false,"rows":null},{"label":"Pin","value":"BATERY","type":"text","required":false,"rows":null}],"formValue":{"STATION ID":"","NODE ID":"","LoRa":"","LoRa BAND":"","LoRa FREQUENCY":"","LoRa OUTPUT POWER":"","RSSI":"","SNR":"","TEMPERATURE":"","HUMIDITY":"","EC":"","POTASSIUM NITRATE":"","PHOSPHORUS":"","POTASSIUM":"","BATERY":""},"payload":"","submit":"","cancel":"","topic":"payload","topicType":"msg","splitLayout":"","className":"","x":870,"y":500,"wires":[[]]},{"id":"da92b3d466fe4fdd","type":"mqtt in","z":"f0c59d25945004e2","name":"","topic":"Sink001Sent","qos":"2","datatype":"auto-detect","broker":"4d02509b1007ac55","nl":false,"rap":true,"rh":0,"inputs":0,"x":170,"y":500,"wires":[["ac19d1486c00ac5a"]]},{"id":"f70b0b2ce2e6e3dd","type":"mqtt in","z":"f0c59d25945004e2","name":"","topic":"Sink002Sent","qos":"2","datatype":"auto-detect","broker":"4d02509b1007ac55","nl":false,"rap":true,"rh":0,"inputs":0,"x":170,"y":560,"wires":[["ac19d1486c00ac5a"]]},{"id":"ac19d1486c00ac5a","type":"function","z":"f0c59d25945004e2","name":"function 38","func":"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":500,"wires":[["64fdf7967f763c1a","d8d12f3069b7ea46","bc28862fe64b222c"]]},{"id":"378c7afccd435fe8","type":"function","z":"f0c59d25945004e2","name":"function 39","func":"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":500,"wires":[["0a24b96c29d250da"]]},{"id":"64fdf7967f763c1a","type":"switch","z":"f0c59d25945004e2","name":"","property":"payload.CM","propertyType":"msg","rules":[{"t":"eq","v":"CH","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":500,"wires":[["378c7afccd435fe8"]]},{"id":"a9c90e16362fc1b8","type":"ui_switch","z":"f0c59d25945004e2","name":"Installation Mode","label":"Installation Mode","tooltip":"","group":"8409873ff6bd7680","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"className":"","x":730,"y":580,"wires":[[]]},{"id":"d8d12f3069b7ea46","type":"function","z":"f0c59d25945004e2","name":"function 40","func":"if (msg.payload.hasOwnProperty(\"CM\")) {\nif (msg.payload.CM==\"IS\"){\n    msg.payload=1;\n    return msg;}\nelse if (msg.payload.CM == \"NIS\"){\n    msg.payload=0;\n    return msg;}\n}\nelse return null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":580,"wires":[["a9c90e16362fc1b8"]]},{"id":"487d2c8fec928d0f","type":"ui_text_input","z":"f0c59d25945004e2","name":"Response From Sink","label":"Response From Sink","tooltip":"","group":"8409873ff6bd7680","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"payload","sendOnBlur":true,"className":"","topicType":"msg","x":760,"y":640,"wires":[[]]},{"id":"bc28862fe64b222c","type":"function","z":"f0c59d25945004e2","name":"function 41","func":"let data=msg.payload;\nif (msg.payload.hasOwnProperty(\"CM\")) {\n    if (msg.payload.CM==\"IS\"||msg.payload.CM == \"NIS\"){\n        msg.payload= JSON.stringify(data);\n        return msg;}\n    else return null;\n}\nelse return null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":640,"wires":[["487d2c8fec928d0f"]]},{"id":"b296f37bc3ade576","type":"ui_switch","z":"f0c59d25945004e2","name":"","label":"Send To Node","tooltip":"","group":"4598cceabd1731d4","order":4,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"className":"","x":1040,"y":340,"wires":[[]]},{"id":"631a3fcc30e10776","type":"delay","z":"f0c59d25945004e2","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":840,"y":380,"wires":[["b296f37bc3ade576"]]},{"id":"7377c1aca3d77e8f","type":"function","z":"f0c59d25945004e2","name":"function 44","func":"msg.payload=0;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":340,"wires":[["631a3fcc30e10776"]]},{"id":"782f869513402372","type":"function","z":"f0c59d25945004e2","name":"function 42","func":"\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":240,"wires":[["f16f1d9ecb85ecc2"]]},{"id":"8409873ff6bd7680","type":"ui_group","name":"COMAND (FOR SINK ONLY)","tab":"945be46623da4ac4","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"4d02509b1007ac55","type":"mqtt-broker","name":"iotlab","broker":"dev.iotlab.net.vn","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"4598cceabd1731d4","type":"ui_group","name":"COMAND (FOR NODE)","tab":"945be46623da4ac4","order":2,"disp":true,"width":6,"collapse":false,"className":""},{"id":"6259381c5278aa2d","type":"ui_group","name":"DEVICE STATUS","tab":"945be46623da4ac4","order":4,"disp":true,"width":6,"collapse":false,"className":""},{"id":"945be46623da4ac4","type":"ui_tab","name":"RICE STATION","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"bf763cfadbc264ca","type":"global-config","env":[],"modules":{"node-red-dashboard":"3.6.6"}}]