flow/alerservice.json
[
    {
        "id": "8cc29cb18f4f9ea4",
        "type": "tab",
        "label": "Aler Service",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "012f1f27b77103c8",
        "type": "inject",
        "z": "8cc29cb18f4f9ea4",
        "name": "data",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"ID\":\"1\",\"call\":\"0839488362\",\"message\":\"hêllo\"}",
        "payloadType": "str",
        "x": 170,
        "y": 300,
        "wires": [
            [
                "14d6bc693369ce49",
                "0793ea07708e1187"
            ]
        ]
    },
    {
        "id": "96b3486a7ba08c16",
        "type": "mqtt in",
        "z": "8cc29cb18f4f9ea4",
        "name": "",
        "topic": "Alert_Service",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e488f4730507f4d2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 630,
        "y": 320,
        "wires": [
            [
                "fe8b54892dca0606"
            ]
        ]
    },
    {
        "id": "f3aabfe8cc503e2c",
        "type": "mqtt out",
        "z": "8cc29cb18f4f9ea4",
        "name": "",
        "topic": "Alert_Service",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e488f4730507f4d2",
        "x": 410,
        "y": 320,
        "wires": []
    },
    {
        "id": "fe8b54892dca0606",
        "type": "debug",
        "z": "8cc29cb18f4f9ea4",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 320,
        "wires": []
    },
    {
        "id": "14d6bc693369ce49",
        "type": "mqtt out",
        "z": "8cc29cb18f4f9ea4",
        "name": "recive",
        "topic": "testAlert_Service",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4d02509b1007ac55",
        "x": 250,
        "y": 180,
        "wires": []
    },
    {
        "id": "797f40184596487c",
        "type": "mqtt in",
        "z": "8cc29cb18f4f9ea4",
        "name": "recive",
        "topic": "testAlert_Service",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4d02509b1007ac55",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 400,
        "wires": [
            [
                "f3aabfe8cc503e2c",
                "1167771f263a9e8a"
            ]
        ]
    },
    {
        "id": "0793ea07708e1187",
        "type": "mqtt out",
        "z": "8cc29cb18f4f9ea4",
        "name": "",
        "topic": "Alert_Service",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4d02509b1007ac55",
        "x": 310,
        "y": 260,
        "wires": []
    },
    {
        "id": "8df06c230c27653c",
        "type": "mqtt in",
        "z": "8cc29cb18f4f9ea4",
        "name": "",
        "topic": "testService_publish",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4d02509b1007ac55",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 610,
        "y": 540,
        "wires": [
            [
                "6326139124b7ab83"
            ]
        ]
    },
    {
        "id": "6326139124b7ab83",
        "type": "debug",
        "z": "8cc29cb18f4f9ea4",
        "name": "debug 61",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 540,
        "wires": []
    },
    {
        "id": "1167771f263a9e8a",
        "type": "debug",
        "z": "8cc29cb18f4f9ea4",
        "name": "debug 62",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 420,
        "wires": []
    },
    {
        "id": "e488f4730507f4d2",
        "type": "mqtt-broker",
        "d": true,
        "name": "hivemq",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "mqtt-client-64b3dc8f96d2f",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4d02509b1007ac55",
        "type": "mqtt-broker",
        "name": "iotlab",
        "broker": "dev.iotlab.net.vn",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]