flow/allflow.json
[{"id":"3169f5ecd3368dc3","type":"tab","label":"ELL","disabled":false,"info":"","env":[]},{"id":"6797e2b9beafcda1","type":"tab","label":"ELL UI","disabled":false,"info":"","env":[]},{"id":"0328a4e527a540bb","type":"tab","label":"RICE STATION","disabled":false,"info":"","env":[]},{"id":"525b1f81c1454c12","type":"tab","label":"AQUA STATION","disabled":false,"info":"","env":[]},{"id":"e8e6e59058a1433f","type":"tab","label":"AIR STATION","disabled":false,"info":"","env":[]},{"id":"df5cc55c18199d9c","type":"tab","label":"Hand held device","disabled":false,"info":"","env":[]},{"id":"241b9e1b3f0171bb","type":"tab","label":"AIR UI","disabled":false,"info":"","env":[]},{"id":"30a505e785062d99","type":"tab","label":"DEBUG FOR SINK","disabled":false,"info":"","env":[]},{"id":"c6c4e896a1e43f7c","type":"tab","label":"Sent and Receive","disabled":false,"info":"","env":[]},{"id":"4d02509b1007ac55","type":"mqtt-broker","name":"iotlab","broker":"103.221.220.183","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"ed0fb34813216a34","type":"ui_spacer","z":"6797e2b9beafcda1","name":"spacer","group":"d1d01ab4ecddb2d2","order":4,"width":1,"height":1},{"id":"b4268545026dd8b9","type":"ui_spacer","z":"6797e2b9beafcda1","name":"spacer","group":"d1d01ab4ecddb2d2","order":5,"width":1,"height":1},{"id":"a9188499f0ff2a9b","type":"ui_spacer","z":"6797e2b9beafcda1","name":"spacer","group":"d1d01ab4ecddb2d2","order":6,"width":1,"height":1},{"id":"8769f785dabbc40d","type":"ui_group","name":"Control Van","tab":"2ba1b58ef6a61ac2","order":2,"disp":true,"width":16,"collapse":false,"className":""},{"id":"d1d01ab4ecddb2d2","type":"ui_group","name":"Sensor Status","tab":"2ba1b58ef6a61ac2","order":1,"disp":true,"width":16,"collapse":false,"className":""},{"id":"8eba72aec26e80f0","type":"ui_group","name":"Command Status","tab":"2ba1b58ef6a61ac2","order":3,"disp":true,"width":16,"collapse":false,"className":""},{"id":"2ba1b58ef6a61ac2","type":"ui_tab","name":"Comander Lươn","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"1b2af146335e3a42","type":"global-config","env":[]},{"id":"baa9afa340c874cc","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"639f7855858d9b10","type":"ui_group","name":"COMAND (FOR SINK ONLY)","tab":"530e32f51ea0ccce","order":1,"disp":true,"width":7,"collapse":false,"className":""},{"id":"93bcd71219caa949","type":"ui_group","name":"COMAND (FOR NODE)","tab":"530e32f51ea0ccce","order":2,"disp":true,"width":7,"collapse":false,"className":""},{"id":"5c41146a6955c323","type":"ui_group","name":"DEVICE STATUS","tab":"530e32f51ea0ccce","order":4,"disp":true,"width":7,"collapse":false,"className":""},{"id":"530e32f51ea0ccce","type":"ui_tab","name":"DEBUG FOR SINK","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"e89e202ecb04b862","type":"ui_group","name":"DATA","tab":"9ed407104e941464","order":1,"disp":true,"width":7,"collapse":false,"className":""},{"id":"9d38a2286734a729","type":"ui_group","name":"SETTINGS","tab":"9ed407104e941464","order":2,"disp":true,"width":7,"collapse":false,"className":""},{"id":"9ed407104e941464","type":"ui_tab","name":"AIR","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"bc3f771720b664bf","type":"ui_spacer","z":"30a505e785062d99","name":"spacer","group":"9d38a2286734a729","order":3,"width":7,"height":1},{"id":"6633e246c048fa42","type":"ui_spacer","z":"30a505e785062d99","name":"spacer","group":"9d38a2286734a729","order":6,"width":7,"height":1},{"id":"bbf5b53bd88e0db7","type":"ui_spacer","z":"30a505e785062d99","name":"spacer","group":"9d38a2286734a729","order":9,"width":7,"height":1},{"id":"ab3dac877f183e68","type":"inject","z":"3169f5ecd3368dc3","name":"Bật chế độ tự động ID1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"is\":1,\"ID\":1,\"SID\":\"TESTH6CT\",\"a\":1,\"ma\":4.5,\"md\":4,\"mn\":3}","payloadType":"str","x":200,"y":240,"wires":[["fd8ac54cff509d8d","6cce13836d4de7ca"]]},{"id":"fd8ac54cff509d8d","type":"mqtt out","z":"3169f5ecd3368dc3","name":"TESTH6CT receive","topic":"TESTH6CTReceive","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d02509b1007ac55","x":590,"y":240,"wires":[]},{"id":"157f36a1bb423b72","type":"debug","z":"3169f5ecd3368dc3","name":"debug 66","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":500,"wires":[]},{"id":"39a4bc13f3be8492","type":"mqtt in","z":"3169f5ecd3368dc3","name":"TESTH6CT sent","topic":"TESTH6CTSent","qos":"2","datatype":"auto-detect","broker":"4d02509b1007ac55","nl":false,"rap":true,"rh":0,"inputs":0,"x":580,"y":440,"wires":[["157f36a1bb423b72"]]},{"id":"51f59c3cb648b7fc","type":"debug","z":"3169f5ecd3368dc3","name":"debug 68","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":800,"y":760,"wires":[]},{"id":"e2ea57cb3cdb473a","type":"function","z":"3169f5ecd3368dc3","name":"function 43","func":"// Lấy dữ liệu từ msg.payload\nlet input = msg.payload;\n\n// Kiểm tra điều kiện để xác định id và status\nlet output = {\n    id: input.ID,  // Lấy giá trị ID\n    configuration: {\n        status: input.i === 1 ? \"on\" : \"off\"  // Kiểm tra giá trị của i để set status\n    }\n};\n\n// Gửi đầu ra dưới dạng msg.payload\nmsg.payload = output;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":720,"wires":[["51f59c3cb648b7fc","800d8bfdd1ea1720"]]},{"id":"bcc33a55ef6b4bab","type":"function","z":"3169f5ecd3368dc3","name":"Định ID","func":"\nlet inputData = msg.payload;\nif(inputData.SID==\"TESTH6CT\"){\n    if (inputData.ID == 1) {\n        inputData.ID = 7;\n    }\n    else if (inputData.ID == 2) {\n        inputData.ID = 9;\n    }\n    else if (inputData.ID == 3) {\n        inputData.ID = 11;\n    }\n}\nif(inputData.SID==\"TramluonNgaNam1\"){\n    if (inputData.ID == 1) {\n        inputData.ID = 13;\n    }\n    else if (inputData.ID == 2) {\n        inputData.ID = 15;\n    }\n    else if (inputData.ID == 3) {\n        inputData.ID = 17;\n    }\n}\nif(inputData.SID==\"TramluonNgaNam2\"){\n    if (inputData.ID == 1) {\n        inputData.ID = 19;\n    }\n    else if (inputData.ID == 2) {\n        inputData.ID = 21;\n    }\n    else if (inputData.ID == 3) {\n        inputData.ID = 23;\n    }\n}\nif (inputData.SID ==\"TramluonNgaNam3\"){\n    if (inputData.ID == 1) {\n        inputData.ID = 25;\n    }\n    else if (inputData.ID == 2) {\n        inputData.ID = 27;\n    }\n    else if (inputData.ID == 3) {\n        inputData.ID = 29;\n    }\n}\nif (inputData.SID ==\"TramluonNgaNam4\"){\n    if (inputData.ID == 1) {\n        inputData.ID = 31;\n    }\n    else if (inputData.ID == 2) {\n        inputData.ID =33;\n    }\n    else if (inputData.ID == 3) {\n        inputData.ID = 35;\n    }\n}\nif (inputData.SID ==\"TramluonNgaNam5\"){\n    if (inputData.ID == 1) {\n        inputData.ID = 37;\n    }\n    else if (inputData.ID == 2) {\n        inputData.ID = 39;\n    }\n    else if (inputData.ID == 3) {\n        inputData.ID = 41;\n    }\n}\nif (inputData.SID ==\"TramluonNgaNam6\"){\n    if (inputData.ID == 1) {\n        inputData.ID = 43;\n    }\n    else if (inputData.ID == 2) {\n        inputData.ID = 45;\n    }\n    else if (inputData.ID == 3) {\n        inputData.ID = 47;\n    }\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":680,"wires":[["e2ea57cb3cdb473a"]]},{"id":"5270f797a8e835ab","type":"function","z":"3169f5ecd3368dc3","name":"function 46","func":"// Lấy dữ liệu từ msg.payload\nlet input = msg.payload;\n\n// Kiểm tra điều kiện để xác định id và status\nlet output = {\n    id: input.ID,  // Lấy giá trị ID\n    configuration: {\n        status: input.o === 1 ? \"on\" : \"off\"  // Kiểm tra giá trị của i để set status\n    }\n};\n\n// Gửi đầu ra dưới dạng msg.payload\nmsg.payload = output;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":860,"wires":[["800d8bfdd1ea1720","9401ae90ec6932f3"]]},{"id":"f73f5a87617a99a4","type":"function","z":"3169f5ecd3368dc3","name":"function 47","func":"// Lấy đối tượng JSON từ msg.payload\nlet input = msg.payload;\n\n// Tạo đối tượng đầu ra theo yêu cầu\nlet output = {\n    taskingCapabilityIds: [input.ID, input.ID + 1], // Đặt ID và ID+1 vào mảng\n    automation: input.a, // Đặt giá trị a vào automation\n};\n\n// Gán kết quả vào msg.payload\nmsg.payload = output;\n\n// Trả về kết quả\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":1000,"wires":[["f2d6528be0e435c4","c792ab64499b4447"]]},{"id":"f2d6528be0e435c4","type":"debug","z":"3169f5ecd3368dc3","name":"debug 70","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":1040,"wires":[]},{"id":"800d8bfdd1ea1720","type":"mqtt out","z":"3169f5ecd3368dc3","name":"","topic":"actuator/controller-update","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d02509b1007ac55","x":1130,"y":720,"wires":[]},{"id":"f424b9a9dca2b206","type":"function","z":"3169f5ecd3368dc3","name":"Định ID cho mực nước","func":"\nlet inputData = msg.payload;\nif(inputData.SID==\"TESTH6CT\"){\n    if (inputData.ID == 1) {\n        inputData.ID = 66;\n    }\n    else if (inputData.ID == 2) {\n        inputData.ID = 67;\n    }\n    else if (inputData.ID == 3) {\n        inputData.ID = 68;\n}}\n\nif(inputData.SID==\"TramluonNgaNam1\"){\n    if (inputData.ID == 1) {\n        inputData.ID = 69;\n    }\n    else if (inputData.ID == 2) {\n        inputData.ID = 70;\n    }\n    else if (inputData.ID == 3) {\n        inputData.ID = 71;\n    }\n}\nif(inputData.SID==\"TramluonNgaNam2\"){\n    if (inputData.ID == 1) {\n        inputData.ID = 72;\n    }\n    else if (inputData.ID == 2) {\n        inputData.ID = 73;\n    }\n    else if (inputData.ID == 3) {\n        inputData.ID = 74;\n    }\n}\nif (inputData.SID ==\"TramluonNgaNam3\"){\n    if (inputData.ID == 1) {\n        inputData.ID = 75;\n    }\n    else if (inputData.ID == 2) {\n        inputData.ID = 76;\n    }\n    else if (inputData.ID == 3) {\n        inputData.ID = 77;\n    }\n}\nif (inputData.SID ==\"TramluonNgaNam4\"){\n    if (inputData.ID == 1) {\n        inputData.ID = 78;\n    }\n    else if (inputData.ID == 2) {\n        inputData.ID = 79;\n    }\n    else if (inputData.ID == 3) {\n        inputData.ID = 80;\n    }\n}\nif (inputData.SID ==\"TramluonNgaNam5\"){\n    if (inputData.ID == 1) {\n        inputData.ID = 81;\n    }\n    else if (inputData.ID == 2) {\n        inputData.ID = 82;\n    }\n    else if (inputData.ID == 3) {\n        inputData.ID = 83;\n    }\n}\nif (inputData.SID ==\"TramluonNgaNam6\"){\n    if (inputData.ID == 1) {\n        inputData.ID = 84;\n    }\n    else if (inputData.ID == 2) {\n        inputData.ID = 85;\n    }\n    else if (inputData.ID == 3) {\n        inputData.ID = 86;\n    }\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":1240,"wires":[["e269f461df0ed532"]]},{"id":"e269f461df0ed532","type":"function","z":"3169f5ecd3368dc3","name":"function 51","func":"let input = msg.payload;\n// Lấy thời gian hệ thống hiện tại\nfunction getFormattedTime() {\n\n    let now = new Date();\n    return now.toISOString(); // Trả về thời gian theo định dạng ISO 8601\n\n}\n\n// Tạo đối tượng đầu ra\nlet output = {\n      \"stationId\":\"13\",\n    sensorRecords: [\n        {\n            dataStreamId: input.ID.toString(),  // Chuyển ID thành string\n            result: input.mucn + \"cm\"           // Gán result bằng mucn và thêm đơn vị \"cm\"\n        }\n    ],\n    \"resultTime\": getFormattedTime()   // Sử dụng thời gian hệ thống\n};\n\n// Gán kết quả vào msg.payload\nmsg.payload = output;\n\n// Trả về kết quả\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":1280,"wires":[["3016714fc63180a4","7b48b509d085d798"]]},{"id":"3016714fc63180a4","type":"mqtt out","z":"3169f5ecd3368dc3","name":"","topic":"data/view","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d02509b1007ac55","x":1080,"y":1280,"wires":[]},{"id":"7b48b509d085d798","type":"debug","z":"3169f5ecd3368dc3","name":"debug 71","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":780,"y":1320,"wires":[]},{"id":"99864284f384dd54","type":"switch","z":"3169f5ecd3368dc3","name":"Xử lý các trạng thái device","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"i","vt":"str"},{"t":"hask","v":"o","vt":"str"},{"t":"hask","v":"a","vt":"str"},{"t":"hask","v":"ma","vt":"str"},{"t":"hask","v":"mucn","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":480,"y":700,"wires":[["bcc33a55ef6b4bab"],["384f111cdc33ee96"],["d4039a1ef11f8aff"],["8f59fd77d16a3d10"],["f424b9a9dca2b206"]]},{"id":"ddf3fc722672805f","type":"inject","z":"3169f5ecd3368dc3","name":"Bật van vào ID2","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":" {\"is\":1,\"SID\":\"TESTH6CT\",\"ID\":2,\"i\":1,\"o\":1}","payloadType":"str","x":220,"y":360,"wires":[["fd8ac54cff509d8d","6cce13836d4de7ca"]]},{"id":"2ebb420e69bf8a6b","type":"inject","z":"3169f5ecd3368dc3","name":"Tắt van vào ID2","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":" {\"is\":1,\"SID\":\"TESTH6CT\",\"ID\":2,\"i\":0,\"o\":0}","payloadType":"str","x":220,"y":420,"wires":[["fd8ac54cff509d8d","6cce13836d4de7ca"]]},{"id":"f56b6f25bf440342","type":"mqtt in","z":"3169f5ecd3368dc3","name":"","topic":"actuator/controller","qos":"2","datatype":"auto-detect","broker":"4d02509b1007ac55","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":1980,"wires":[["af0eeaf8251e7230","55aed05195bfc788"]]},{"id":"8021bb6ab8d39103","type":"inject","z":"3169f5ecd3368dc3","name":"Tắt chế độ tự động ID1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"is\":1,\"SID\":\"TESTH6CT\",\"ID\":2,\"a\":0,\"ma\":4.5,\"md\":4,\"mn\":3}","payloadType":"str","x":200,"y":300,"wires":[["fd8ac54cff509d8d","6cce13836d4de7ca"]]},{"id":"4ef5a6f5d6e55e00","type":"inject","z":"3169f5ecd3368dc3","name":"Setup mucnuoc ID1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"is\":1,\"SID\":\"TESTH6CT\",\"ID\":2,\"ma\":3,\"md\":1.5,\"mn\":0}","payloadType":"str","x":210,"y":480,"wires":[["fd8ac54cff509d8d","6cce13836d4de7ca"]]},{"id":"a7db1bb83c8d8fce","type":"mqtt in","z":"3169f5ecd3368dc3","name":"TESTH6CT sent","topic":"TESTH6CTSent","qos":"2","datatype":"auto-detect","broker":"4d02509b1007ac55","nl":false,"rap":true,"rh":0,"inputs":0,"x":220,"y":700,"wires":[["99864284f384dd54"]]},{"id":"af0eeaf8251e7230","type":"debug","z":"3169f5ecd3368dc3","name":"debug 78","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":120,"y":2040,"wires":[]},{"id":"847ad08364aa8efa","type":"inject","z":"3169f5ecd3368dc3","name":"Tắt van vào ID1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"taskingCapabilityId\":9,\"stationId\":13,\"configuration\":{\"status\":\"off\"}}","payloadType":"json","x":1040,"y":1920,"wires":[["5d48dd916aa5b9be"]]},{"id":"5d48dd916aa5b9be","type":"function","z":"3169f5ecd3368dc3","name":"Xử lý chuỗi van vào","func":"let input = msg.payload;\n\nlet ID = input.ID;\nlet SID = input.SID;\nlet status = input.status;\nlet i = (status === \"on\") ? 1 : 0;\n\n\nmsg.payload = {\n    is: 1,\n    SID: SID,\n    ID: ID,\n    i: i\n};\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":1980,"wires":[["39c59d4a2de3d438","01ce4f90c0bdd482"]]},{"id":"e46166c1457aa145","type":"mqtt out","z":"3169f5ecd3368dc3","name":"TESTH6CT receive","topic":"TESTH6CTReceive","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d02509b1007ac55","x":1530,"y":2000,"wires":[]},{"id":"39c59d4a2de3d438","type":"debug","z":"3169f5ecd3368dc3","name":"debug 79","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1060,"y":2020,"wires":[]},{"id":"4708e284d6a7462e","type":"mqtt in","z":"3169f5ecd3368dc3","name":"","topic":"actuator/automation","qos":"2","datatype":"auto-detect","broker":"4d02509b1007ac55","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":1560,"wires":[["77509d5b31dc27c4","bf0daa0c8159bc8b"]]},{"id":"77509d5b31dc27c4","type":"debug","z":"3169f5ecd3368dc3","name":"debug 80","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":120,"y":1620,"wires":[]},{"id":"6a5410eeb8bf2f93","type":"switch","z":"3169f5ecd3368dc3","name":"Chuyển hai trạng thái tắt mở","property":"payload.automation","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":640,"y":1560,"wires":[["6c2df5a8265d2acc"],["0d78951b90cd4e7f"]]},{"id":"b26e70f8391e368b","type":"debug","z":"3169f5ecd3368dc3","name":"debug 81","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1060,"y":2200,"wires":[]},{"id":"654089a3deac8e57","type":"inject","z":"3169f5ecd3368dc3","name":"Tắt van ra ID1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"taskingCapabilityId\":2,\"stationId\":1,\"configuration\":{\"status\":\"off\"}}","payloadType":"json","x":1070,"y":2120,"wires":[["d218ad5b5c805457"]]},{"id":"b0c2bd482fed24ef","type":"inject","z":"3169f5ecd3368dc3","name":"Tắt auto ID 1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"taskingCapabilityIds\":[7,8],\"stationId\":13,\"automation\":0,\"autoConfig\":null}","payloadType":"json","x":390,"y":1400,"wires":[["bf0daa0c8159bc8b"]]},{"id":"e87ca9017a0ac19a","type":"inject","z":"3169f5ecd3368dc3","name":"Bật auto ID1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"taskingCapabilityIds\":[7,8],\"stationId\":13,\"automation\":1,\"autoConfig\":null}","payloadType":"json","x":390,"y":1460,"wires":[["bf0daa0c8159bc8b"]]},{"id":"c7e3b18ec0684943","type":"mqtt out","z":"3169f5ecd3368dc3","name":"TESTH6CT receive","topic":"TESTH6CTReceive","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d02509b1007ac55","x":1590,"y":1540,"wires":[]},{"id":"8bd611297a359fbc","type":"function","z":"3169f5ecd3368dc3","name":"Xử lý config","func":"let input = msg.payload;\n// Hàm tách số từ chuỗi như \"100cm\"\n    function extractNumber(value) {\n        if (typeof value !== 'string') return NaN;\n        let match = value.match(/[\\d.]+/);\n        return match ? parseFloat(match[0]) : NaN;\n    }\n\n// Lấy các giá trị max, middle, min\nlet ma = extractNumber(input.autoConfig.max);\nlet md = extractNumber(input.autoConfig.middle);\nlet mn = extractNumber(input.autoConfig.min);\nmsg.payload = {\n    is: 1,\n    SID: input.stationId,\n    taskingCapabilityIds:input.taskingCapabilityIds,\n    ma:ma,\n    md:md,\n    mn:mn\n};\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":1780,"wires":[["a411be16587bb49a","81d20cd61cca3d21"]]},{"id":"a411be16587bb49a","type":"debug","z":"3169f5ecd3368dc3","name":"debug 85","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":920,"y":1820,"wires":[]},{"id":"f3500f79121ecb80","type":"function","z":"3169f5ecd3368dc3","name":"function 54","func":"// Lấy đối tượng JSON từ msg.payload\nlet input = msg.payload;\n\n// Tạo đối tượng đầu ra theo yêu cầu\nlet output = {\n    taskingCapabilityIds: [input.ID, input.ID + 1], // Đặt ID và ID+1 vào mảng\n    autoConfig: {\n        max: input.ma + \"cm\",\n        middle: input.md + \"cm\",\n        min: input.mn + \"cm\"\n    }\n};\n\n// Gán output vào msg.payload để trả về\nmsg.payload = output;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":1140,"wires":[["346d34eea061c687","c792ab64499b4447"]]},{"id":"346d34eea061c687","type":"debug","z":"3169f5ecd3368dc3","name":"debug 86","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":800,"y":1180,"wires":[]},{"id":"6cce13836d4de7ca","type":"debug","z":"3169f5ecd3368dc3","name":"debug 87","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":180,"wires":[]},{"id":"d4039a1ef11f8aff","type":"function","z":"3169f5ecd3368dc3","name":"Định ID","func":"\nlet inputData = msg.payload;\nif(inputData.SID==\"TESTH6CT\"){\n    if (inputData.ID == 1) {\n    inputData.ID = 7;\n    }\n    else if (inputData.ID == 2) {\n    inputData.ID = 9;\n    }\n    else if (inputData.ID == 3) {\n    inputData.ID = 11;\n}   }\n\n\nif(inputData.SID==\"TramluonNgaNam1\"){\n    if (inputData.ID == 1) {\n        inputData.ID = 13;\n    }\n    else if (inputData.ID == 2) {\n        inputData.ID = 15;\n    }\n    else if (inputData.ID == 3) {\n        inputData.ID = 17;\n    }\n}\nif(inputData.SID==\"TramluonNgaNam2\"){\n    if (inputData.ID == 1) {\n        inputData.ID = 19;\n    }\n    else if (inputData.ID == 2) {\n        inputData.ID = 21;\n    }\n    else if (inputData.ID == 3) {\n        inputData.ID = 23;\n    }\n}\nif (inputData.SID ==\"TramluonNgaNam3\"){\n    if (inputData.ID == 1) {\n        inputData.ID = 25;\n    }\n    else if (inputData.ID == 2) {\n        inputData.ID = 27;\n    }\n    else if (inputData.ID == 3) {\n        inputData.ID = 29;\n    }\n}\nif (inputData.SID ==\"TramluonNgaNam4\"){\n    if (inputData.ID == 1) {\n        inputData.ID = 31;\n    }\n    else if (inputData.ID == 2) {\n        inputData.ID = 33;\n    }\n    else if (inputData.ID == 3) {\n        inputData.ID = 35;\n    }\n}\nif (inputData.SID ==\"TramluonNgaNam5\"){\n    if (inputData.ID == 1) {\n        inputData.ID = 37;\n    }\n    else if (inputData.ID == 2) {\n        inputData.ID = 39;\n    }\n    else if (inputData.ID == 3) {\n        inputData.ID = 41;\n    }\n}\nif (inputData.SID ==\"TramluonNgaNam6\"){\n    if (inputData.ID == 1) {\n        inputData.ID = 43;\n    }\n    else if (inputData.ID == 2) {\n        inputData.ID = 45;\n    }\n    else if (inputData.ID == 3) {\n        inputData.ID = 47;\n    }\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":960,"wires":[["f73f5a87617a99a4"]]},{"id":"8f59fd77d16a3d10","type":"function","z":"3169f5ecd3368dc3","name":"Định ID","func":"\nlet inputData = msg.payload;\nif(inputData.SID==\"TESTH6CT\"){\n    if (inputData.ID == 1) {\n        inputData.ID = 7;\n    }\n    else if (inputData.ID == 2) {\n        inputData.ID = 9;\n    }\n    else if (inputData.ID == 3) {\n        inputData.ID = 11;\n}}\nif(inputData.SID==\"TramluonNgaNam1\"){\n    if (inputData.ID == 1) {\n        inputData.ID = 13;\n    }\n    else if (inputData.ID == 2) {\n        inputData.ID = 15;\n    }\n    else if (inputData.ID == 3) {\n        inputData.ID = 17;\n    }\n}\nif(inputData.SID==\"TramluonNgaNam2\"){\n    if (inputData.ID == 1) {\n        inputData.ID = 19;\n    }\n    else if (inputData.ID == 2) {\n        inputData.ID = 21;\n    }\n    else if (inputData.ID == 3) {\n        inputData.ID = 23;\n    }\n}\nif (inputData.SID ==\"TramluonNgaNam3\"){\n    if (inputData.ID == 1) {\n        inputData.ID = 25;\n    }\n    else if (inputData.ID == 2) {\n        inputData.ID = 27;\n    }\n    else if (inputData.ID == 3) {\n        inputData.ID = 29;\n    }\n}\nif (inputData.SID ==\"TramluonNgaNam4\"){\n    if (inputData.ID == 1) {\n        inputData.ID = 31;\n    }\n    else if (inputData.ID == 2) {\n        inputData.ID =33;\n    }\n    else if (inputData.ID == 3) {\n        inputData.ID = 35;\n    }\n}\nif (inputData.SID ==\"TramluonNgaNam5\"){\n    if (inputData.ID == 1) {\n        inputData.ID = 37;\n    }\n    else if (inputData.ID == 2) {\n        inputData.ID = 39;\n    }\n    else if (inputData.ID == 3) {\n        inputData.ID = 41;\n    }\n}\nif (inputData.SID ==\"TramluonNgaNam6\"){\n    if (inputData.ID == 1) {\n        inputData.ID = 43;\n    }\n    else if (inputData.ID == 2) {\n        inputData.ID = 45;\n    }\n    else if (inputData.ID == 3) {\n        inputData.ID = 47;\n    }\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":1100,"wires":[["f3500f79121ecb80"]]},{"id":"b93ead22d2f70692","type":"mqtt in","z":"3169f5ecd3368dc3","name":"TESTH6CT receive","topic":"ellReceive","qos":"2","datatype":"auto-detect","broker":"4d02509b1007ac55","nl":false,"rap":true,"rh":0,"inputs":0,"x":590,"y":340,"wires":[["a0524f9c9b7fee1b"]]},{"id":"a0524f9c9b7fee1b","type":"debug","z":"3169f5ecd3368dc3","name":"debug 88","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":400,"wires":[]},{"id":"c792ab64499b4447","type":"mqtt out","z":"3169f5ecd3368dc3","name":"","topic":"actuator/automation-update","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d02509b1007ac55","x":1140,"y":1000,"wires":[]},{"id":"384f111cdc33ee96","type":"function","z":"3169f5ecd3368dc3","name":"Định ID","func":"\nlet inputData = msg.payload;\nif(inputData.SID==\"TESTH6CT\"){\n    if (inputData.ID == 1) {\n    inputData.ID = 8;\n    }\n    else if (inputData.ID == 2) {\n    inputData.ID = 10;\n    }\n    else if (inputData.ID == 3) {\n    inputData.ID = 12;\n}}\n\nif(inputData.SID==\"TramluonNgaNam1\"){\n    if (inputData.ID == 1) {\n        inputData.ID = 14;\n    }\n    else if (inputData.ID == 2) {\n        inputData.ID = 16;\n    }\n    else if (inputData.ID == 3) {\n        inputData.ID = 18;\n    }\n}\nif(inputData.SID==\"TramluonNgaNam2\"){\n    if (inputData.ID == 1) {\n        inputData.ID = 20;\n    }\n    else if (inputData.ID == 2) {\n        inputData.ID = 22;\n    }\n    else if (inputData.ID == 3) {\n        inputData.ID = 24;\n    }\n}\nif (inputData.SID ==\"TramluonNgaNam3\"){\n    if (inputData.ID == 1) {\n        inputData.ID = 26;\n    }\n    else if (inputData.ID == 2) {\n        inputData.ID = 28;\n    }\n    else if (inputData.ID == 3) {\n        inputData.ID = 30;\n    }\n}\nif (inputData.SID ==\"TramluonNgaNam4\"){\n    if (inputData.ID == 1) {\n        inputData.ID = 32;\n    }\n    else if (inputData.ID == 2) {\n        inputData.ID = 34;\n    }\n    else if (inputData.ID == 3) {\n        inputData.ID = 36;\n    }\n}\nif (inputData.SID ==\"TramluonNgaNam5\"){\n    if (inputData.ID == 1) {\n        inputData.ID = 38;\n    }\n    else if (inputData.ID == 2) {\n        inputData.ID = 40;\n    }\n    else if (inputData.ID == 3) {\n        inputData.ID = 42;\n    }\n}\nif (inputData.SID ==\"TramluonNgaNam6\"){\n    if (inputData.ID == 1) {\n        inputData.ID = 44;\n    }\n    else if (inputData.ID == 2) {\n        inputData.ID = 46;\n    }\n    else if (inputData.ID == 3) {\n        inputData.ID = 48;\n    }\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":820,"wires":[["5270f797a8e835ab"]]},{"id":"9401ae90ec6932f3","type":"debug","z":"3169f5ecd3368dc3","name":"debug 89","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":800,"y":900,"wires":[]},{"id":"bf0daa0c8159bc8b","type":"function","z":"3169f5ecd3368dc3","name":"Định SationID","func":"let input = msg.payload;\nif(input.stationId===13){\n    input.stationId=\"TESTH6CT\";\n}\nif(input.stationId===14){\n    input.stationId =\"TramluonNgaNam1\";\n}\nif(input.stationId===15){\n    input.stationId =\"TramluonNgaNam2\";\n}\nif(input.stationId===16){\n    input.stationId =\"TramluonNgaNam3\";\n}\nif(input.stationId===17){\n    input.stationId =\"TramluonNgaNam4\";\n}\nif(input.stationId===18){\n    input.stationId =\"TramluonNgaNam5\";\n}\nif(input.stationId===19){\n    input.stationId =\"TramluonNgaNam6\";\n}\nmsg.payload=input;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1560,"wires":[["6a5410eeb8bf2f93","02f24a793bea2892","8bd611297a359fbc"]]},{"id":"cf524a1705bd9f20","type":"switch","z":"3169f5ecd3368dc3","name":"Chia luồng","property":"payload.SID","propertyType":"msg","rules":[{"t":"eq","v":"TESTH6CT","vt":"str"},{"t":"eq","v":"TramluonNgaNam1","vt":"str"},{"t":"eq","v":"TramluonNgaNam2","vt":"str"},{"t":"eq","v":"TramluonNgaNam3","vt":"str"},{"t":"eq","v":"TramluonNgaNam4","vt":"str"},{"t":"eq","v":"TramluonNgaNam5","vt":"str"},{"t":"eq","v":"TramluonNgaNam6","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":1350,"y":1600,"wires":[["c7e3b18ec0684943"],["a0d7e6175ef52adb"],["6031e3e0f5ffd8ea"],["4cb31ab7169ce3af"],["a093df6985d9c20a"],["d5875b8218f3adb4"],["bce2f50d49df1247"]]},{"id":"bf1ecf7d742abbbe","type":"debug","z":"3169f5ecd3368dc3","name":"debug 83","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":1700,"wires":[]},{"id":"0d78951b90cd4e7f","type":"function","z":"3169f5ecd3368dc3","name":"Xử lý chuỗi mở","func":"let input = msg.payload;\nlet automation=input.automation;\n// Tạo output\nmsg.payload = {\n    is: 1,\n    SID:  input.stationId,\n    taskingCapabilityIds: input.taskingCapabilityIds,\n    a: automation,\n};\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":1660,"wires":[["bf1ecf7d742abbbe","7aa74267bf9c6e28"]]},{"id":"aadbfc9abf10efa5","type":"debug","z":"3169f5ecd3368dc3","name":"debug 82","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":900,"y":1600,"wires":[]},{"id":"6c2df5a8265d2acc","type":"function","z":"3169f5ecd3368dc3","name":"Xử lý chuỗi tắt","func":" let input = msg.payload;\n let automation=input.automation;\n    msg.payload = {\n        is: 1,\n        taskingCapabilityIds:input.taskingCapabilityIds,\n        SID:  input.stationId,\n        a: automation\n    };\n\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":1560,"wires":[["aadbfc9abf10efa5","7aa74267bf9c6e28"]]},{"id":"7aa74267bf9c6e28","type":"function","z":"3169f5ecd3368dc3","name":"Định ID cho van","func":" let input = msg.payload;\n let  automation= input.a;\nlet taskingCapabilityIds = input.taskingCapabilityIds || [];\nlet ID = null;\nif(input.SID===\"TESTH6CT\"){\n    if (taskingCapabilityIds.includes(7) || taskingCapabilityIds.includes(8)) {\n        ID = 1;\n    } else if (taskingCapabilityIds.includes(9) || taskingCapabilityIds.includes(10)) {\n        ID = 2;\n    } else if (taskingCapabilityIds.includes(11) || taskingCapabilityIds.includes(12)) {\n        ID = 3;\n}}\nif(input.SID===\"TramluonNgaNam1\"){\n    if (taskingCapabilityIds.includes(13) || taskingCapabilityIds.includes(14)) {\n        ID = 1;\n    } else if (taskingCapabilityIds.includes(15) || taskingCapabilityIds.includes(16)) {\n        ID = 2;\n    } else if (taskingCapabilityIds.includes(17) || taskingCapabilityIds.includes(18)) {\n        ID = 3;\n}}\nif(input.SID===\"TramluonNgaNam2\"){\n    if (taskingCapabilityIds.includes(19) || taskingCapabilityIds.includes(20)) {\n        ID = 1;\n    } else if (taskingCapabilityIds.includes(21) || taskingCapabilityIds.includes(22)) {\n        ID = 2;\n    } else if (taskingCapabilityIds.includes(23) || taskingCapabilityIds.includes(24)) {\n        ID = 3;\n}}\nif (input.SID ===\"TramluonNgaNam3\"){\n    if (taskingCapabilityIds.includes(25) || taskingCapabilityIds.includes(26)) {\n        ID = 1;\n    } else if (taskingCapabilityIds.includes(27) || taskingCapabilityIds.includes(28)) {\n        ID = 2;\n    } else if (taskingCapabilityIds.includes(29) || taskingCapabilityIds.includes(30)) {\n        ID = 3;\n}}\nif (input.SID ===\"TramluonNgaNam4\"){\n    if (taskingCapabilityIds.includes(31) || taskingCapabilityIds.includes(32)) {\n        ID = 1;\n    } else if (taskingCapabilityIds.includes(33) || taskingCapabilityIds.includes(34)) {\n        ID = 2;\n    } else if (taskingCapabilityIds.includes(35) || taskingCapabilityIds.includes(36)) {\n        ID = 3;\n}}\nif (input.SID ===\"TramluonNgaNam5\"){\n    if (taskingCapabilityIds.includes(37) || taskingCapabilityIds.includes(38)) {\n        ID = 1;\n    } else if (taskingCapabilityIds.includes(39) || taskingCapabilityIds.includes(40)) {\n        ID = 2;\n    } else if (taskingCapabilityIds.includes(41) || taskingCapabilityIds.includes(42)) {\n        ID = 3;\n}}\nif (input.SID === \"TramluonNgaNam6\") {\n    if (taskingCapabilityIds.includes(43) || taskingCapabilityIds.includes(44)) {\n        ID = 1;\n    } else if (taskingCapabilityIds.includes(45) || taskingCapabilityIds.includes(46)) {\n        ID = 2;\n    } else if (taskingCapabilityIds.includes(47) || taskingCapabilityIds.includes(48)) {\n        ID = 3;\n    }\n}\n    msg.payload = {\n        is: 1,\n        ID:ID,\n        SID:  input.SID,\n        a: automation\n    };\n\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1140,"y":1560,"wires":[["3333de8b40c77d6e","cf524a1705bd9f20"]]},{"id":"3333de8b40c77d6e","type":"debug","z":"3169f5ecd3368dc3","name":"debug 91","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1140,"y":1600,"wires":[]},{"id":"02f24a793bea2892","type":"debug","z":"3169f5ecd3368dc3","name":"debug 92","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":360,"y":1620,"wires":[]},{"id":"55aed05195bfc788","type":"function","z":"3169f5ecd3368dc3","name":"Định SationID","func":"let input = msg.payload;\nif(input.stationId==13){\n    input.stationId=\"TESTH6CT\";\n}\nif(input.stationId===14){\n    input.stationId =\"TramluonNgaNam1\";\n}\nif(input.stationId===15){\n    input.stationId =\"TramluonNgaNam2\";\n}\nif(input.stationId===16){\n    input.stationId =\"TramluonNgaNam3\";\n}\nif(input.stationId===17){\n    input.stationId =\"TramluonNgaNam4\";\n}\nif(input.stationId===18){\n    input.stationId =\"TramluonNgaNam5\";\n}\nif(input.stationId===19){\n    input.stationId =\"TramluonNgaNam6\";\n}\nmsg.payload=input;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":1980,"wires":[["bde38f7199b2b807","0777dfb3ed03b978"]]},{"id":"d218ad5b5c805457","type":"function","z":"3169f5ecd3368dc3","name":"Xử lý chuỗi van ra","func":"let input = msg.payload;\n\nlet ID = input.ID;\nlet SID = input.SID;\nlet status = input.status;\nlet o = (status === \"on\") ? 1 : 0;\n\n\nmsg.payload = {\n    is: 1,\n    SID: SID,\n    ID: ID,\n    o: o\n};\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":2160,"wires":[["b26e70f8391e368b","01ce4f90c0bdd482"]]},{"id":"bde38f7199b2b807","type":"function","z":"3169f5ecd3368dc3","name":"Định ID cho van","func":" let input = msg.payload;\nlet taskingCapabilityId = input.taskingCapabilityId ;\nlet stationId = input.stationId;\nlet status = input.configuration?.status;\nlet ID = null;\nlet mode=null;\nif (stationId ===\"TESTH6CT\"){\n    if (taskingCapabilityId==7||taskingCapabilityId==8) {\n        ID = 1;\n    } else if (taskingCapabilityId==9||taskingCapabilityId==10) {\n        ID = 2;\n    } else if (taskingCapabilityId == 11 || taskingCapabilityId == 12) {\n        ID = 3;}\n    if (taskingCapabilityId == 7 || taskingCapabilityId == 9 || taskingCapabilityId == 11)  {\n        mode=\"i\";\n    }\n    else{\n        mode=\"o\";\n}}\nif(stationId===\"TramluonNgaNam1\"){\n    if (taskingCapabilityId==13 || taskingCapabilityId==14) {\n        ID = 1;\n    } else if (taskingCapabilityId==15 || taskingCapabilityId==16) {\n        ID = 2;\n    } else if (taskingCapabilityId==17 || taskingCapabilityId==18) {\n        ID = 3;}\n        if (taskingCapabilityId == 13 || taskingCapabilityId == 15 || taskingCapabilityId == 17) {\n            mode = \"i\";\n        }\n        else {\n            mode = \"o\";\n}}\nif(stationId===\"TramluonNgaNam2\"){\n    if (taskingCapabilityId==19 || taskingCapabilityId==20) {\n        ID = 1;\n    } else if (taskingCapabilityId==21 || taskingCapabilityId==22) {\n        ID = 2;\n    } else if (taskingCapabilityId==23 || taskingCapabilityId==24) {\n        ID = 3;}\n        if (taskingCapabilityId == 19 || taskingCapabilityId == 21 || taskingCapabilityId == 23) {\n            mode = \"i\";\n        }\n        else {\n            mode = \"o\";\n}}\nif (stationId ===\"TramluonNgaNam3\"){\n    if (taskingCapabilityId==25 || taskingCapabilityId==26) {\n        ID = 1;\n    } else if (taskingCapabilityId==27 || taskingCapabilityId==28) {\n        ID = 2;\n    } else if (taskingCapabilityId==29 || taskingCapabilityId==30) {\n        ID = 3;}\n        if (taskingCapabilityId == 25 || taskingCapabilityId == 27 || taskingCapabilityId == 29) {\n            mode = \"i\";\n        }\n        else {\n            mode = \"o\";\n}}\nif (stationId ===\"TramluonNgaNam4\"){\n    if (taskingCapabilityId==31 || taskingCapabilityId==32) {\n        ID = 1;\n    } else if (taskingCapabilityId==33 || taskingCapabilityId==34) {\n        ID = 2;\n    } else if (taskingCapabilityId==35 || taskingCapabilityId==36) {\n        ID = 3;}\n        if (taskingCapabilityId == 31 || taskingCapabilityId == 33 || taskingCapabilityId == 35) {\n            mode = \"i\";\n        }\n        else {\n            mode = \"o\";\n}}\nif (stationId ===\"TramluonNgaNam5\"){\n    if (taskingCapabilityId==37 || taskingCapabilityId==38) {\n        ID = 1;\n    } else if (taskingCapabilityId==39 || taskingCapabilityId==40) {\n        ID = 2;\n    } else if (taskingCapabilityId==41 || taskingCapabilityId==42) {\n        ID = 3;}\n        if (taskingCapabilityId == 37 || taskingCapabilityId == 39 || taskingCapabilityId == 41) {\n            mode = \"i\";\n        }\n        else {\n            mode = \"o\";\n}}\nif (stationId === \"TramluonNgaNam6\") {\n    if (taskingCapabilityId==43 || taskingCapabilityId==44) {\n        ID = 1;\n    } else if (taskingCapabilityId==45 || taskingCapabilityId==46) {\n        ID = 2;\n    } else if (taskingCapabilityId==47 || taskingCapabilityId==48) {\n        ID = 3;\n    }\n    if (taskingCapabilityId == 43 || taskingCapabilityId == 45 || taskingCapabilityId == 47) {\n        mode = \"i\";\n    }\n    else {\n        mode = \"o\";\n}}\n    msg.payload = {\n        is: 1,\n        ID:ID,\n        SID: stationId,\n        status:status,\n        mode:mode\n    };\n\n\nreturn msg;\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":1980,"wires":[["c3865260d8422ca6","4c230aad7edd58ac"]]},{"id":"c3865260d8422ca6","type":"switch","z":"3169f5ecd3368dc3","name":"Chuyển mode","property":"payload.mode","propertyType":"msg","rules":[{"t":"eq","v":"i","vt":"str"},{"t":"eq","v":"o","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":800,"y":1980,"wires":[["5d48dd916aa5b9be"],["d218ad5b5c805457"]]},{"id":"4c230aad7edd58ac","type":"debug","z":"3169f5ecd3368dc3","name":"debug 93","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":2040,"wires":[]},{"id":"0777dfb3ed03b978","type":"debug","z":"3169f5ecd3368dc3","name":"debug 94","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":360,"y":2040,"wires":[]},{"id":"01ce4f90c0bdd482","type":"switch","z":"3169f5ecd3368dc3","name":"Chia luồng","property":"payload.SID","propertyType":"msg","rules":[{"t":"eq","v":"TESTH6CT","vt":"str"},{"t":"eq","v":"TramluonNgaNam1","vt":"str"},{"t":"eq","v":"TramluonNgaNam2","vt":"str"},{"t":"eq","v":"TramluonNgaNam3","vt":"str"},{"t":"eq","v":"TramluonNgaNam4","vt":"str"},{"t":"eq","v":"TramluonNgaNam5","vt":"str"},{"t":"eq","v":"TramluonNgaNam6","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":1310,"y":2040,"wires":[["e46166c1457aa145"],["3a9d5eeefb2b0832"],["4c618f77499ce83f"],["1390e46344af62a6"],["8eeaf0b4f3800027"],["359763c94625a1d1"],["ef429c760656eeac"]]},{"id":"81d20cd61cca3d21","type":"function","z":"3169f5ecd3368dc3","name":"Định ID cho van","func":" let input = msg.payload;\n let  automation= input.a;\nlet taskingCapabilityIds = input.taskingCapabilityIds || [];\nlet ID = null;\nif(input.SID===\"TESTH6CT\"){\n    if (taskingCapabilityIds.includes(7) || taskingCapabilityIds.includes(8)) {\n        ID = 1;\n    } else if (taskingCapabilityIds.includes(9) || taskingCapabilityIds.includes(10)) {\n        ID = 2;\n    } else if (taskingCapabilityIds.includes(11) || taskingCapabilityIds.includes(12)) {\n        ID = 3;\n}}\nif(input.SID===\"TramluonNgaNam1\"){\n    if (taskingCapabilityIds.includes(13) || taskingCapabilityIds.includes(14)) {\n        ID = 1;\n    } else if (taskingCapabilityIds.includes(15) || taskingCapabilityIds.includes(16)) {\n        ID = 2;\n    } else if (taskingCapabilityIds.includes(17) || taskingCapabilityIds.includes(18)) {\n        ID = 3;\n}}\nif(input.SID===\"TramluonNgaNam2\"){\n    if (taskingCapabilityIds.includes(19) || taskingCapabilityIds.includes(20)) {\n        ID = 1;\n    } else if (taskingCapabilityIds.includes(21) || taskingCapabilityIds.includes(22)) {\n        ID = 2;\n    } else if (taskingCapabilityIds.includes(23) || taskingCapabilityIds.includes(24)) {\n        ID = 3;\n}}\nif (input.SID ===\"TramluonNgaNam3\"){\n    if (taskingCapabilityIds.includes(25) || taskingCapabilityIds.includes(26)) {\n        ID = 1;\n    } else if (taskingCapabilityIds.includes(27) || taskingCapabilityIds.includes(28)) {\n        ID = 2;\n    } else if (taskingCapabilityIds.includes(29) || taskingCapabilityIds.includes(30)) {\n        ID = 3;\n}}\nif (input.SID ===\"TramluonNgaNam4\"){\n    if (taskingCapabilityIds.includes(31) || taskingCapabilityIds.includes(32)) {\n        ID = 1;\n    } else if (taskingCapabilityIds.includes(33) || taskingCapabilityIds.includes(34)) {\n        ID = 2;\n    } else if (taskingCapabilityIds.includes(35) || taskingCapabilityIds.includes(36)) {\n        ID = 3;\n}}\nif (input.SID ===\"TramluonNgaNam5\"){\n    if (taskingCapabilityIds.includes(37) || taskingCapabilityIds.includes(38)) {\n        ID = 1;\n    } else if (taskingCapabilityIds.includes(39) || taskingCapabilityIds.includes(40)) {\n        ID = 2;\n    } else if (taskingCapabilityIds.includes(41) || taskingCapabilityIds.includes(42)) {\n        ID = 3;\n}}\nif (input.SID === \"TramluonNgaNam6\") {\n    if (taskingCapabilityIds.includes(43) || taskingCapabilityIds.includes(44)) {\n        ID = 1;\n    } else if (taskingCapabilityIds.includes(45) || taskingCapabilityIds.includes(46)) {\n        ID = 2;\n    } else if (taskingCapabilityIds.includes(47) || taskingCapabilityIds.includes(48)) {\n        ID = 3;\n    }\n}\nmsg.payload = {\n    is: 1,\n    SID: input.SID,\n    ID: ID,\n    ma: input.ma,\n    md: input.md,\n    mn: input.mn\n};\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1140,"y":1700,"wires":[["cf524a1705bd9f20","eb45e8dca75a0403"]]},{"id":"eb45e8dca75a0403","type":"debug","z":"3169f5ecd3368dc3","name":"debug 95","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1120,"y":1760,"wires":[]},{"id":"49d83760118ab660","type":"inject","z":"3169f5ecd3368dc3","name":"yêu cầu reset hệ thống","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":" {\"is\":1,\"SID\":\"TESTH6CT\",\"cm\":\"RS\"}","payloadType":"json","x":180,"y":600,"wires":[["c1d442616f91e718"]]},{"id":"c1d442616f91e718","type":"mqtt out","z":"3169f5ecd3368dc3","name":"TESTH6CTReceive","topic":"TESTH6CTReceive","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d02509b1007ac55","x":550,"y":600,"wires":[]},{"id":"3bf89e82eaecf314","type":"inject","z":"3169f5ecd3368dc3","name":"yêu cầu cập nhật dữ liệu","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":" {\"is\":1,\"SID\":\"TESTH6CT\",\"cm\":\"GD\"}","payloadType":"str","x":190,"y":540,"wires":[["fd8ac54cff509d8d","6cce13836d4de7ca"]]},{"id":"06fd452fc6ac4d76","type":"mqtt in","z":"3169f5ecd3368dc3","name":"command/send","topic":"command/send","qos":"2","datatype":"auto-detect","broker":"4d02509b1007ac55","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":2500,"wires":[["f5957c93c94fcaa6"]]},{"id":"c9e5b4217d0294fa","type":"switch","z":"3169f5ecd3368dc3","name":"","property":"payload.SID","propertyType":"msg","rules":[{"t":"eq","v":"TramluonNgaNam1","vt":"str"},{"t":"eq","v":"TramluonNgaNam2","vt":"str"},{"t":"eq","v":"TramluonNgaNam3","vt":"str"},{"t":"eq","v":"TramluonNgaNam4","vt":"str"},{"t":"eq","v":"TramluonNgaNam5","vt":"str"},{"t":"eq","v":"TramluonNgaNam6","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":330,"y":2560,"wires":[["f13632570c9339f4"],["e82e19833cbd429b"],["cd48d415d208518a"],["67ec28aaba062e68"],["14d4c5c84a94eb33"],["6b944c61c4afc8ce"]]},{"id":"d0069f5401828249","type":"mqtt out","z":"3169f5ecd3368dc3","name":"command_response","topic":"command_response","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d02509b1007ac55","x":1340,"y":2520,"wires":[]},{"id":"8d26f7be1b7103d7","type":"mqtt in","z":"3169f5ecd3368dc3","name":"TramluonNgaNam1Sent","topic":"TramluonNgaNam1Sent","qos":"2","datatype":"auto-detect","broker":"4d02509b1007ac55","nl":false,"rap":true,"rh":0,"inputs":0,"x":980,"y":2500,"wires":[["806a73ed8765b812","d0069f5401828249"]]},{"id":"b0e1cfe678313fc4","type":"mqtt in","z":"3169f5ecd3368dc3","name":"TramluonNgaNam2Sent","topic":"TramluonNgaNam2Sent","qos":"2","datatype":"auto-detect","broker":"4d02509b1007ac55","nl":false,"rap":true,"rh":0,"inputs":0,"x":980,"y":2600,"wires":[["f2b492e63d78890f","d0069f5401828249"]]},{"id":"c7c9ebad808a605c","type":"mqtt in","z":"3169f5ecd3368dc3","name":"TramluonNgaNam3Sent","topic":"TramluonNgaNam3Sent","qos":"2","datatype":"auto-detect","broker":"4d02509b1007ac55","nl":false,"rap":true,"rh":0,"inputs":0,"x":980,"y":2700,"wires":[["784b2df2165d366b","d0069f5401828249"]]},{"id":"077eca793c370591","type":"mqtt in","z":"3169f5ecd3368dc3","name":"TramluonNgaNam4Sent","topic":"TramluonNgaNam4Sent","qos":"2","datatype":"auto-detect","broker":"4d02509b1007ac55","nl":false,"rap":true,"rh":0,"inputs":0,"x":980,"y":2800,"wires":[["161eab88ba7ae8da","d0069f5401828249"]]},{"id":"c843cc8d5c03b919","type":"mqtt in","z":"3169f5ecd3368dc3","name":"TramluonNgaNam5Sent","topic":"TramluonNgaNam5Sent","qos":"2","datatype":"auto-detect","broker":"4d02509b1007ac55","nl":false,"rap":true,"rh":0,"inputs":0,"x":980,"y":2900,"wires":[["899e16c60c46b9b5","d0069f5401828249"]]},{"id":"bcc7de66230638b7","type":"mqtt in","z":"3169f5ecd3368dc3","name":"TramluonNgaNam6Sent","topic":"TramluonNgaNam6Sent","qos":"2","datatype":"auto-detect","broker":"4d02509b1007ac55","nl":false,"rap":true,"rh":0,"inputs":0,"x":980,"y":3000,"wires":[["19e2d05141f9cddc","d0069f5401828249"]]},{"id":"806a73ed8765b812","type":"debug","z":"3169f5ecd3368dc3","name":"debug 110","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1000,"y":2540,"wires":[]},{"id":"f2b492e63d78890f","type":"debug","z":"3169f5ecd3368dc3","name":"debug 111","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1000,"y":2640,"wires":[]},{"id":"784b2df2165d366b","type":"debug","z":"3169f5ecd3368dc3","name":"debug 112","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1000,"y":2740,"wires":[]},{"id":"161eab88ba7ae8da","type":"debug","z":"3169f5ecd3368dc3","name":"debug 113","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":980,"y":2840,"wires":[]},{"id":"899e16c60c46b9b5","type":"debug","z":"3169f5ecd3368dc3","name":"debug 114","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":2940,"wires":[]},{"id":"19e2d05141f9cddc","type":"debug","z":"3169f5ecd3368dc3","name":"debug 115","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":3040,"wires":[]},{"id":"ab3353696a843ed7","type":"mqtt out","z":"3169f5ecd3368dc3","name":"TESTH6CT receive","topic":"TESTH6CTReceive","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d02509b1007ac55","x":530,"y":2360,"wires":[]},{"id":"f5957c93c94fcaa6","type":"function","z":"3169f5ecd3368dc3","name":"function 59","func":"let input =msg.payload;\nif(input.SID==14){\n    input.SID=\"TramluonNgaNam1\";\n}\nif(input.SID==15){\n    input.SID=\"TramluonNgaNam2\";\n}\nif(input.SID==16){\n    input.SID=\"TramluonNgaNam3\";\n}\nif(input.SID==17){\n    input.SID=\"TramluonNgaNam4\";\n}\nif(input.SID==18){\n    input.SID=\"TramluonNgaNam5\";\n}\nif(input.SID==19){\n    input.SID=\"TramluonNgaNam6\";\n}\nmsg.payload=input\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":130,"y":2560,"wires":[["c9e5b4217d0294fa","6b4341941ad7fa6e"]]},{"id":"6b4341941ad7fa6e","type":"debug","z":"3169f5ecd3368dc3","name":"debug 116","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":110,"y":2620,"wires":[]},{"id":"97a72e51dac7b012","type":"mqtt in","z":"3169f5ecd3368dc3","name":"TramluonNgaNam1Sent","topic":"TramluonNgaNam1Sent","qos":"2","datatype":"auto-detect","broker":"4d02509b1007ac55","nl":false,"rap":true,"rh":0,"inputs":0,"x":220,"y":780,"wires":[["b04e52672ae67801","99864284f384dd54"]]},{"id":"92e13b40d7555543","type":"mqtt in","z":"3169f5ecd3368dc3","name":"TramluonNgaNam2Sent","topic":"TramluonNgaNam2Sent","qos":"2","datatype":"auto-detect","broker":"4d02509b1007ac55","nl":false,"rap":true,"rh":0,"inputs":0,"x":220,"y":880,"wires":[["2d9d9e47d2720798","99864284f384dd54"]]},{"id":"5a1391f9760160be","type":"mqtt in","z":"3169f5ecd3368dc3","name":"TramluonNgaNam3Sent","topic":"TramluonNgaNam3Sent","qos":"2","datatype":"auto-detect","broker":"4d02509b1007ac55","nl":false,"rap":true,"rh":0,"inputs":0,"x":220,"y":980,"wires":[["add538b3e04515f1","99864284f384dd54"]]},{"id":"66048b53b09d78de","type":"mqtt in","z":"3169f5ecd3368dc3","name":"TramluonNgaNam4Sent","topic":"TramluonNgaNam4Sent","qos":"2","datatype":"auto-detect","broker":"4d02509b1007ac55","nl":false,"rap":true,"rh":0,"inputs":0,"x":220,"y":1080,"wires":[["2c87fca621495039","99864284f384dd54"]]},{"id":"4419d87411b8bf59","type":"mqtt in","z":"3169f5ecd3368dc3","name":"TramluonNgaNam5Sent","topic":"TramluonNgaNam5Sent","qos":"2","datatype":"auto-detect","broker":"4d02509b1007ac55","nl":false,"rap":true,"rh":0,"inputs":0,"x":220,"y":1180,"wires":[["8a6bb81e0cb68e78","99864284f384dd54"]]},{"id":"95c98405c3313655","type":"mqtt in","z":"3169f5ecd3368dc3","name":"TramluonNgaNam6Sent","topic":"TramluonNgaNam6Sent","qos":"2","datatype":"auto-detect","broker":"4d02509b1007ac55","nl":false,"rap":true,"rh":0,"inputs":0,"x":220,"y":1280,"wires":[["a509abbc79d78b91","99864284f384dd54"]]},{"id":"b04e52672ae67801","type":"debug","z":"3169f5ecd3368dc3","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":240,"y":820,"wires":[]},{"id":"2d9d9e47d2720798","type":"debug","z":"3169f5ecd3368dc3","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":240,"y":920,"wires":[]},{"id":"add538b3e04515f1","type":"debug","z":"3169f5ecd3368dc3","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":240,"y":1020,"wires":[]},{"id":"2c87fca621495039","type":"debug","z":"3169f5ecd3368dc3","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":220,"y":1120,"wires":[]},{"id":"8a6bb81e0cb68e78","type":"debug","z":"3169f5ecd3368dc3","name":"debug 8","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":230,"y":1220,"wires":[]},{"id":"a509abbc79d78b91","type":"debug","z":"3169f5ecd3368dc3","name":"debug 9","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":230,"y":1320,"wires":[]},{"id":"a0d7e6175ef52adb","type":"mqtt out","z":"3169f5ecd3368dc3","name":"","topic":"TramluonNgaNam1Receive","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d02509b1007ac55","x":1620,"y":1580,"wires":[]},{"id":"6031e3e0f5ffd8ea","type":"mqtt out","z":"3169f5ecd3368dc3","name":"","topic":"TramluonNgaNam2Receive","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d02509b1007ac55","x":1620,"y":1620,"wires":[]},{"id":"4cb31ab7169ce3af","type":"mqtt out","z":"3169f5ecd3368dc3","name":"","topic":"TramluonNgaNam3Receive","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d02509b1007ac55","x":1620,"y":1660,"wires":[]},{"id":"a093df6985d9c20a","type":"mqtt out","z":"3169f5ecd3368dc3","name":"","topic":"TramluonNgaNam4Receive","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d02509b1007ac55","x":1620,"y":1700,"wires":[]},{"id":"d5875b8218f3adb4","type":"mqtt out","z":"3169f5ecd3368dc3","name":"","topic":"TramluonNgaNam5Receive","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d02509b1007ac55","x":1620,"y":1740,"wires":[]},{"id":"bce2f50d49df1247","type":"mqtt out","z":"3169f5ecd3368dc3","name":"","topic":"TramluonNgaNam6Receive","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d02509b1007ac55","x":1620,"y":1780,"wires":[]},{"id":"3a9d5eeefb2b0832","type":"mqtt out","z":"3169f5ecd3368dc3","name":"","topic":"TramluonNgaNam1Receive","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d02509b1007ac55","x":1560,"y":2040,"wires":[]},{"id":"4c618f77499ce83f","type":"mqtt out","z":"3169f5ecd3368dc3","name":"","topic":"TramluonNgaNam2Receive","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d02509b1007ac55","x":1560,"y":2080,"wires":[]},{"id":"1390e46344af62a6","type":"mqtt out","z":"3169f5ecd3368dc3","name":"","topic":"TramluonNgaNam3Receive","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d02509b1007ac55","x":1560,"y":2120,"wires":[]},{"id":"8eeaf0b4f3800027","type":"mqtt out","z":"3169f5ecd3368dc3","name":"","topic":"TramluonNgaNam4Receive","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d02509b1007ac55","x":1560,"y":2160,"wires":[]},{"id":"359763c94625a1d1","type":"mqtt out","z":"3169f5ecd3368dc3","name":"","topic":"TramluonNgaNam5Receive","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d02509b1007ac55","x":1560,"y":2200,"wires":[]},{"id":"ef429c760656eeac","type":"mqtt out","z":"3169f5ecd3368dc3","name":"","topic":"TramluonNgaNam6Receive","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d02509b1007ac55","x":1560,"y":2240,"wires":[]},{"id":"f13632570c9339f4","type":"mqtt out","z":"3169f5ecd3368dc3","name":"","topic":"TramluonNgaNam1Receive","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d02509b1007ac55","x":560,"y":2520,"wires":[]},{"id":"e82e19833cbd429b","type":"mqtt out","z":"3169f5ecd3368dc3","name":"","topic":"TramluonNgaNam2Receive","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d02509b1007ac55","x":560,"y":2560,"wires":[]},{"id":"cd48d415d208518a","type":"mqtt out","z":"3169f5ecd3368dc3","name":"","topic":"TramluonNgaNam3Receive","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d02509b1007ac55","x":560,"y":2600,"wires":[]},{"id":"67ec28aaba062e68","type":"mqtt out","z":"3169f5ecd3368dc3","name":"","topic":"TramluonNgaNam4Receive","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d02509b1007ac55","x":560,"y":2640,"wires":[]},{"id":"14d4c5c84a94eb33","type":"mqtt out","z":"3169f5ecd3368dc3","name":"","topic":"TramluonNgaNam5Receive","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d02509b1007ac55","x":560,"y":2680,"wires":[]},{"id":"6b944c61c4afc8ce","type":"mqtt out","z":"3169f5ecd3368dc3","name":"","topic":"TramluonNgaNam6Receive","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d02509b1007ac55","x":560,"y":2720,"wires":[]},{"id":"4883def460e5e5d6","type":"ui_switch","z":"6797e2b9beafcda1","name":"Vào","label":"INPUT","tooltip":"","group":"8769f785dabbc40d","order":5,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"topic","topicType":"flow","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"className":"","x":1250,"y":900,"wires":[["04392c1be67757c7"]]},{"id":"004bcdaf9be79738","type":"ui_switch","z":"6797e2b9beafcda1","name":"Ra","label":"OUTPUT","tooltip":"","group":"8769f785dabbc40d","order":6,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"className":"","x":1250,"y":960,"wires":[["33863dc03b23c12b"]]},{"id":"506f10e490e4f871","type":"ui_switch","z":"6797e2b9beafcda1","name":"Auto","label":"Auto","tooltip":"","group":"8769f785dabbc40d","order":7,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"className":"","x":1250,"y":1020,"wires":[["295709d3283df38a"]]},{"id":"19c412d648dbb9f8","type":"ui_gauge","z":"6797e2b9beafcda1","name":"","group":"d1d01ab4ecddb2d2","order":2,"width":5,"height":3,"gtype":"wave","title":"Hồ 2","label":"cm","format":"{{value}}","min":0,"max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1350,"y":500,"wires":[]},{"id":"a2d941906ec96644","type":"ui_gauge","z":"6797e2b9beafcda1","name":"","group":"d1d01ab4ecddb2d2","order":3,"width":5,"height":3,"gtype":"wave","title":"Hồ 3","label":"cm","format":"{{value}}","min":0,"max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1350,"y":560,"wires":[]},{"id":"d727af1ea83d77e9","type":"ui_gauge","z":"6797e2b9beafcda1","name":"","group":"d1d01ab4ecddb2d2","order":1,"width":5,"height":3,"gtype":"wave","title":"Hồ 1","label":"cm","format":"{{value}}","min":0,"max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1350,"y":440,"wires":[]},{"id":"bd6845a6bb68b8f9","type":"switch","z":"6797e2b9beafcda1","name":"","property":"msg.payload","propertyType":"msg","rules":[{"t":"hask","v":"mucn","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":890,"y":500,"wires":[["509281211c96c596"]]},{"id":"509281211c96c596","type":"switch","z":"6797e2b9beafcda1","name":"","property":"payload.ID","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1050,"y":500,"wires":[["64313bb316599508"],["64b0cd6fdb8f9220"],["661835cd2bce5c0f"]]},{"id":"64313bb316599508","type":"function","z":"6797e2b9beafcda1","name":"function 12","func":"let input= msg.payload;\n\nmsg.payload=input.mucn;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":440,"wires":[["d727af1ea83d77e9"]]},{"id":"64b0cd6fdb8f9220","type":"function","z":"6797e2b9beafcda1","name":"function 13","func":"let input= msg.payload;\n\nmsg.payload=input.mucn;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":500,"wires":[["19c412d648dbb9f8"]]},{"id":"661835cd2bce5c0f","type":"function","z":"6797e2b9beafcda1","name":"function 14","func":"let input= msg.payload;\n\nmsg.payload=input.mucn;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1190,"y":560,"wires":[["a2d941906ec96644"]]},{"id":"c1510983e5372e99","type":"mqtt in","z":"6797e2b9beafcda1","name":"TESTH6CT sent","topic":"TESTH6CTSent","qos":"2","datatype":"auto-detect","broker":"4d02509b1007ac55","nl":false,"rap":true,"rh":0,"inputs":0,"x":860,"y":440,"wires":[["bd6845a6bb68b8f9"]]},{"id":"a32da6ae4bec7b12","type":"ui_button","z":"6797e2b9beafcda1","name":"","group":"8eba72aec26e80f0","order":3,"width":0,"height":0,"passthru":false,"label":"SENT","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"1","payloadType":"str","topic":"topic","topicType":"msg","x":1210,"y":700,"wires":[["0eb194140905961f"]]},{"id":"7dde190fa90a41bb","type":"ui_text","z":"6797e2b9beafcda1","group":"8eba72aec26e80f0","order":4,"width":0,"height":0,"name":"","label":"Response","format":"{{msg.payload}}","layout":"col-center","className":"","style":false,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"18","color":"#0000ff","x":860,"y":780,"wires":[]},{"id":"279866b702c75cf0","type":"function","z":"6797e2b9beafcda1","name":"function 15","func":"flow.set(\"sid\", msg.payload);\nreturn null; // không gửi gì ra tiếp\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1030,"y":700,"wires":[["a32da6ae4bec7b12"]]},{"id":"bdd0d5f1e902dd93","type":"function","z":"6797e2b9beafcda1","name":"function 16","func":"flow.set(\"command\", msg.payload);\nreturn null;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1030,"y":640,"wires":[["a32da6ae4bec7b12"]]},{"id":"0eb194140905961f","type":"function","z":"6797e2b9beafcda1","name":"function 17","func":"msg.payload = {\n    is:1,\n    SID: flow.get(\"sid\"),\n    cm: flow.get(\"command\")\n};\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1370,"y":700,"wires":[["45ccb9a62760f212","47b94a4d80e52690","a601502c33007a2f","0a31ad94a3a243c4","82abeb059c988c65","3d62f0be498acdca","6035484edd58f008"]]},{"id":"39d4908b40fcfb66","type":"function","z":"6797e2b9beafcda1","name":"function 11","func":"flow.set(\"SID\", msg.payload);\nreturn null;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":900,"wires":[["4883def460e5e5d6","004bcdaf9be79738","506f10e490e4f871"]]},{"id":"c14f323d9033ca8e","type":"function","z":"6797e2b9beafcda1","name":"function 18","func":"flow.set(\"ID\", msg.payload);\nreturn null;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":960,"wires":[["4883def460e5e5d6","004bcdaf9be79738","506f10e490e4f871"]]},{"id":"04392c1be67757c7","type":"function","z":"6797e2b9beafcda1","name":"function 19","func":"let input=msg.payload;\nlet output ;\noutput = {\n    is:1,\n    SID: flow.get(\"SID\"),\n    ID:flow.get(\"ID\"),\n    i: input\n};\nmsg.payload=output;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1410,"y":900,"wires":[["ab0005aab0fc407d"]]},{"id":"33863dc03b23c12b","type":"function","z":"6797e2b9beafcda1","name":"function 20","func":"let input=msg.payload;\nlet output ;\noutput = {\n    is:1,\n    SID: flow.get(\"SID\"),\n    ID:flow.get(\"ID\"),\n    o: input\n};\nmsg.payload=output;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1410,"y":960,"wires":[["ab0005aab0fc407d"]]},{"id":"295709d3283df38a","type":"function","z":"6797e2b9beafcda1","name":"function 21","func":"let input=msg.payload;\nlet output ;\noutput = {\n    is:1,\n    SID: flow.get(\"SID\"),\n    ID:flow.get(\"ID\"),\n    a: input\n};\nmsg.payload=output;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1410,"y":1020,"wires":[["ab0005aab0fc407d"]]},{"id":"15086d3b5edb495b","type":"switch","z":"6797e2b9beafcda1","name":"","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"i","vt":"str"},{"t":"hask","v":"o","vt":"str"},{"t":"hask","v":"a","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":870,"y":1040,"wires":[["7d74d99db6624ae6"],["ccedda6d06751a60"],["2b3fe7060f1d406c"]]},{"id":"7d74d99db6624ae6","type":"function","z":"6797e2b9beafcda1","name":"function 22","func":"let input=msg.payload;\nmsg.payload =input.i\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":1020,"wires":[["4883def460e5e5d6"]]},{"id":"ccedda6d06751a60","type":"function","z":"6797e2b9beafcda1","name":"function 23","func":"let input=msg.payload;\nmsg.payload =input.o\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":1060,"wires":[["004bcdaf9be79738"]]},{"id":"2b3fe7060f1d406c","type":"function","z":"6797e2b9beafcda1","name":"function 24","func":"let input=msg.payload;\nmsg.payload =input.a\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":1100,"wires":[["506f10e490e4f871"]]},{"id":"50e12d94bc67b129","type":"mqtt out","z":"6797e2b9beafcda1","name":"TESTH6CT receive","topic":"TESTH6CTReceive","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d02509b1007ac55","x":1810,"y":860,"wires":[]},{"id":"3893c5e70e400a08","type":"function","z":"6797e2b9beafcda1","name":"function 25","func":"//  {\"SS\":1,//is send by server\n//  \"SID\":\"TESTH6CT\",\n//  \"ID\":1,//ID1 : lua ID2\n//  \"CM\":\"RS\"}//command\n\n// RS // RESET khi gửi reset   0\n// GD // GETDATA   1\n\n// CH // CHECK HEALTHY    2\n\n// {\n// \"SS\": 1,//is send by server\n// \"SID\": \"TESTH6CT\",\n// \"ID\": 1,//ID1 : lua ID2\n// \"CM\":\"SCF\",\n// \"F\":\"SID\",\n// \"DATA\":\"TP\"\n// }//command","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":660,"wires":[[]]},{"id":"eaa9a964ccabb985","type":"ui_dropdown","z":"6797e2b9beafcda1","name":"Command ","label":"Command ","tooltip":"","place":"Select option","group":"8eba72aec26e80f0","order":2,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"get data","value":"GD","type":"str"},{"label":"reset","value":"RS","type":"str"},{"label":"check health","value":"CH","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":850,"y":640,"wires":[["bdd0d5f1e902dd93"]]},{"id":"4c45ecb005f589ef","type":"ui_text_input","z":"6797e2b9beafcda1","name":"SID","label":"SID","tooltip":"","group":"8769f785dabbc40d","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":850,"y":900,"wires":[["39d4908b40fcfb66"]]},{"id":"916dad5c1c52a052","type":"ui_text_input","z":"6797e2b9beafcda1","name":"NID","label":"NID","tooltip":"","group":"8769f785dabbc40d","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":850,"y":960,"wires":[["c14f323d9033ca8e"]]},{"id":"1dc34c9ad80ef694","type":"mqtt out","z":"6797e2b9beafcda1","name":"","topic":"TramluonNgaNam1Receive","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d02509b1007ac55","x":1840,"y":900,"wires":[]},{"id":"37c9224d0931a1a8","type":"mqtt out","z":"6797e2b9beafcda1","name":"","topic":"TramluonNgaNam2Receive","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d02509b1007ac55","x":1840,"y":940,"wires":[]},{"id":"45dfe15eafec5fc2","type":"mqtt out","z":"6797e2b9beafcda1","name":"","topic":"TramluonNgaNam3Receive","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d02509b1007ac55","x":1840,"y":980,"wires":[]},{"id":"fd870836897b2093","type":"mqtt out","z":"6797e2b9beafcda1","name":"","topic":"TramluonNgaNam4Receive","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d02509b1007ac55","x":1840,"y":1020,"wires":[]},{"id":"936094989688f612","type":"mqtt out","z":"6797e2b9beafcda1","name":"","topic":"TramluonNgaNam5Receive","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d02509b1007ac55","x":1840,"y":1060,"wires":[]},{"id":"1a4f2ed79ce5c13d","type":"mqtt out","z":"6797e2b9beafcda1","name":"","topic":"TramluonNgaNam6Receive","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d02509b1007ac55","x":1840,"y":1100,"wires":[]},{"id":"ab0005aab0fc407d","type":"function","z":"6797e2b9beafcda1","name":"function 30","func":"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1590,"y":960,"wires":[["50e12d94bc67b129","1dc34c9ad80ef694","37c9224d0931a1a8","45dfe15eafec5fc2","fd870836897b2093","936094989688f612","1a4f2ed79ce5c13d"]]},{"id":"45ccb9a62760f212","type":"mqtt out","z":"6797e2b9beafcda1","name":"TESTH6CT receive","topic":"TESTH6CTReceive","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d02509b1007ac55","x":1790,"y":560,"wires":[]},{"id":"47b94a4d80e52690","type":"mqtt out","z":"6797e2b9beafcda1","name":"","topic":"TramluonNgaNam1Receive","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d02509b1007ac55","x":1820,"y":600,"wires":[]},{"id":"a601502c33007a2f","type":"mqtt out","z":"6797e2b9beafcda1","name":"","topic":"TramluonNgaNam2Receive","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d02509b1007ac55","x":1820,"y":640,"wires":[]},{"id":"0a31ad94a3a243c4","type":"mqtt out","z":"6797e2b9beafcda1","name":"","topic":"TramluonNgaNam3Receive","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d02509b1007ac55","x":1820,"y":680,"wires":[]},{"id":"82abeb059c988c65","type":"mqtt out","z":"6797e2b9beafcda1","name":"","topic":"TramluonNgaNam4Receive","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d02509b1007ac55","x":1820,"y":720,"wires":[]},{"id":"3d62f0be498acdca","type":"mqtt out","z":"6797e2b9beafcda1","name":"","topic":"TramluonNgaNam5Receive","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d02509b1007ac55","x":1820,"y":760,"wires":[]},{"id":"6035484edd58f008","type":"mqtt out","z":"6797e2b9beafcda1","name":"","topic":"TramluonNgaNam6Receive","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d02509b1007ac55","x":1820,"y":800,"wires":[]},{"id":"8a60406c79cb7c56","type":"ui_text_input","z":"6797e2b9beafcda1","name":"SID","label":"SID","tooltip":"","group":"8eba72aec26e80f0","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":850,"y":700,"wires":[["279866b702c75cf0"]]},{"id":"a40b62fcc0723084","type":"mqtt in","z":"6797e2b9beafcda1","name":"TESTH6CT sent","topic":"TESTH6CTSent","qos":"2","datatype":"auto-detect","broker":"4d02509b1007ac55","nl":false,"rap":true,"rh":0,"inputs":0,"x":700,"y":1040,"wires":[["15086d3b5edb495b"]]},{"id":"e033e999de353eda","type":"mqtt in","z":"6797e2b9beafcda1","name":"TramluonNgaNam1Sent","topic":"TramluonNgaNam1Sent","qos":"2","datatype":"auto-detect","broker":"4d02509b1007ac55","nl":false,"rap":true,"rh":0,"inputs":0,"x":680,"y":1080,"wires":[["15086d3b5edb495b"]]},{"id":"753c3ce50690b41c","type":"mqtt in","z":"6797e2b9beafcda1","name":"TramluonNgaNam2Sent","topic":"TramluonNgaNam2Sent","qos":"2","datatype":"auto-detect","broker":"4d02509b1007ac55","nl":false,"rap":true,"rh":0,"inputs":0,"x":680,"y":1120,"wires":[["15086d3b5edb495b"]]},{"id":"4bd2846a6f31c5d0","type":"mqtt in","z":"6797e2b9beafcda1","name":"TramluonNgaNam3Sent","topic":"TramluonNgaNam3Sent","qos":"2","datatype":"auto-detect","broker":"4d02509b1007ac55","nl":false,"rap":true,"rh":0,"inputs":0,"x":680,"y":1160,"wires":[["15086d3b5edb495b"]]},{"id":"0a41fa7bcf352836","type":"mqtt in","z":"6797e2b9beafcda1","name":"TramluonNgaNam4Sent","topic":"TramluonNgaNam4Sent","qos":"2","datatype":"auto-detect","broker":"4d02509b1007ac55","nl":false,"rap":true,"rh":0,"inputs":0,"x":680,"y":1200,"wires":[["15086d3b5edb495b"]]},{"id":"0b456f828c0218ce","type":"mqtt in","z":"6797e2b9beafcda1","name":"TramluonNgaNam5Sent","topic":"TramluonNgaNam5Sent","qos":"2","datatype":"auto-detect","broker":"4d02509b1007ac55","nl":false,"rap":true,"rh":0,"inputs":0,"x":680,"y":1240,"wires":[["15086d3b5edb495b"]]},{"id":"abf974905c2f1f7e","type":"mqtt in","z":"6797e2b9beafcda1","name":"TramluonNgaNam6Sent","topic":"TramluonNgaNam6Sent","qos":"2","datatype":"auto-detect","broker":"4d02509b1007ac55","nl":false,"rap":true,"rh":0,"inputs":0,"x":680,"y":1280,"wires":[["15086d3b5edb495b"]]},{"id":"acccc133c8b9944a","type":"mqtt in","z":"6797e2b9beafcda1","name":"TESTH6CT sent","topic":"TESTH6CTSent","qos":"2","datatype":"auto-detect","broker":"4d02509b1007ac55","nl":false,"rap":true,"rh":0,"inputs":0,"x":620,"y":740,"wires":[["7dde190fa90a41bb"]]},{"id":"0480b8a35db43757","type":"mqtt in","z":"6797e2b9beafcda1","name":"TramluonNgaNam1Sent","topic":"TramluonNgaNam1Sent","qos":"2","datatype":"auto-detect","broker":"4d02509b1007ac55","nl":false,"rap":true,"rh":0,"inputs":0,"x":600,"y":780,"wires":[["7dde190fa90a41bb"]]},{"id":"c9492f91fd7fc48b","type":"mqtt in","z":"6797e2b9beafcda1","name":"TramluonNgaNam2Sent","topic":"TramluonNgaNam2Sent","qos":"2","datatype":"auto-detect","broker":"4d02509b1007ac55","nl":false,"rap":true,"rh":0,"inputs":0,"x":600,"y":820,"wires":[["7dde190fa90a41bb"]]},{"id":"205465a2ac57194e","type":"mqtt in","z":"6797e2b9beafcda1","name":"TramluonNgaNam3Sent","topic":"TramluonNgaNam3Sent","qos":"2","datatype":"auto-detect","broker":"4d02509b1007ac55","nl":false,"rap":true,"rh":0,"inputs":0,"x":600,"y":860,"wires":[["7dde190fa90a41bb"]]},{"id":"69e31a5211a70cae","type":"mqtt in","z":"6797e2b9beafcda1","name":"TramluonNgaNam4Sent","topic":"TramluonNgaNam4Sent","qos":"2","datatype":"auto-detect","broker":"4d02509b1007ac55","nl":false,"rap":true,"rh":0,"inputs":0,"x":600,"y":900,"wires":[["7dde190fa90a41bb"]]},{"id":"ebea24221a29ae99","type":"mqtt in","z":"6797e2b9beafcda1","name":"TramluonNgaNam5Sent","topic":"TramluonNgaNam5Sent","qos":"2","datatype":"auto-detect","broker":"4d02509b1007ac55","nl":false,"rap":true,"rh":0,"inputs":0,"x":600,"y":940,"wires":[["7dde190fa90a41bb"]]},{"id":"6d9bc341c1e1709f","type":"mqtt in","z":"6797e2b9beafcda1","name":"TramluonNgaNam6Sent","topic":"TramluonNgaNam6Sent","qos":"2","datatype":"auto-detect","broker":"4d02509b1007ac55","nl":false,"rap":true,"rh":0,"inputs":0,"x":600,"y":980,"wires":[["7dde190fa90a41bb"]]},{"id":"81e5784a3e0acb2b","type":"mqtt out","z":"0328a4e527a540bb","name":"data/view","topic":"data/view","qos":"2","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d02509b1007ac55","x":1380,"y":440,"wires":[]},{"id":"fb973e9576037010","type":"function","z":"0328a4e527a540bb","name":"THOAI SON ORGANIC 01","func":"const data = msg.payload;\nfunction getFormattedTime() {\n    let now = new Date();\n    return now.toISOString(); // Trả về thời gian theo định dạng ISO 8601\n}\nif (data.hasOwnProperty(\"Tem\")) {\nconst sensorRecords = [\n    { \"dataStreamId\": \"30\", \"result\": data.Di + \" cm\" },\n    { \"dataStreamId\": \"31\", \"result\": data.Tem + \" °C\" },\n    { \"dataStreamId\": \"32\", \"result\": data.Hum + \" %rH\" },\n    { \"dataStreamId\": \"33\", \"result\": data.EC + \" µS/cm\" },\n    { \"dataStreamId\": \"34\", \"result\": data.PH + \"\" },\n    { \"dataStreamId\": \"35\", \"result\": data.Ni + \" mg/kg\" },\n    { \"dataStreamId\": \"36\", \"result\": data.Pho + \" mg/kg\" },\n    { \"dataStreamId\": \"37\", \"result\": data.Ka + \" mg/kg\" },\n    { \"dataStreamId\": \"38\", \"result\": data.Pin + \" V\" }\n];\n\nmsg.payload = {\n    \"sensorRecords\": sensorRecords,\n    \"resultTime\": getFormattedTime()  // Cập nhật thời gian hiện tại\n};\n\nreturn msg;}\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":440,"wires":[[]]},{"id":"8dc78011a4dbfbf0","type":"function","z":"0328a4e527a540bb","name":"THOAI SON ORGANIC 02","func":"const data = msg.payload;\nfunction getFormattedTime() {\n    let now = new Date();\n    return now.toISOString(); // Trả về thời gian theo định dạng ISO 8601\n}\nif (data.hasOwnProperty(\"Tem\")) {\nconst sensorRecords = [\n    { \"dataStreamId\": \"39\", \"result\": data.Di + \" cm\" },\n    { \"dataStreamId\": \"40\", \"result\": data.Tem + \" °C\" },\n    { \"dataStreamId\": \"41\", \"result\": data.Hum + \" %rH\" },\n    { \"dataStreamId\": \"42\", \"result\": data.EC + \" µS/cm\" },\n    { \"dataStreamId\": \"43\", \"result\": data.PH + \"\" },\n    { \"dataStreamId\": \"44\", \"result\": data.Ni + \" mg/kg\" },\n    { \"dataStreamId\": \"45\", \"result\": data.Pho + \" mg/kg\" },\n    { \"dataStreamId\": \"46\", \"result\": data.Ka + \" mg/kg\" },\n    { \"dataStreamId\": \"47\", \"result\": data.Pin + \" V\" }\n];\n\nmsg.payload = {\n    \"sensorRecords\": sensorRecords,\n    \"resultTime\": getFormattedTime()  // Cập nhật thời gian hiện tại\n};\n\nreturn msg;}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":500,"wires":[["81e5784a3e0acb2b"]]},{"id":"0515493d2a75345b","type":"function","z":"0328a4e527a540bb","name":"THOAI SON COMMON 01","func":"const data = msg.payload;\nfunction getFormattedTime() {\n    let now = new Date();\n    return now.toISOString(); // Trả về thời gian theo định dạng ISO 8601\n\n}\nif (data.hasOwnProperty(\"Tem\")) {\nconst sensorRecords = [\n    { \"dataStreamId\": \"48\", \"result\": data.Di + \" cm\" },\n    { \"dataStreamId\": \"49\", \"result\": data.Tem + \" °C\" },\n    { \"dataStreamId\": \"50\", \"result\": data.Hum + \" %rH\" },\n    { \"dataStreamId\": \"51\", \"result\": data.EC + \" µS/cm\" },\n    { \"dataStreamId\": \"52\", \"result\": data.PH + \"\" },\n    { \"dataStreamId\": \"53\", \"result\": data.Ni + \" mg/kg\" },\n    { \"dataStreamId\": \"54\", \"result\": data.Pho + \" mg/kg\" },\n    { \"dataStreamId\": \"55\", \"result\": data.Ka + \" mg/kg\" },\n    { \"dataStreamId\": \"56\", \"result\": data.Pin + \" V\" }\n];\n\nmsg.payload = {\n    \"sensorRecords\": sensorRecords,\n    \"resultTime\": getFormattedTime()  // Cập nhật thời gian hiện tại\n};\n\nreturn msg;}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":560,"wires":[["81e5784a3e0acb2b"]]},{"id":"a4e9f7e82cd12571","type":"function","z":"0328a4e527a540bb","name":"THOAI SON COMMON 02","func":"const data = msg.payload;\nfunction getFormattedTime() {\n    let now = new Date();\n    return now.toISOString(); // Trả về thời gian theo định dạng ISO 8601\n}\nif (data.hasOwnProperty(\"Tem\")) {\nconst sensorRecords = [\n    { \"dataStreamId\": \"57\", \"result\": data.Di + \" cm\" },\n    { \"dataStreamId\": \"58\", \"result\": data.Tem + \" °C\" },\n    { \"dataStreamId\": \"59\", \"result\": data.Hum + \" %rH\" },\n    { \"dataStreamId\": \"60\", \"result\": data.EC + \" µS/cm\" },\n    { \"dataStreamId\": \"61\", \"result\": data.PH + \"\" },\n    { \"dataStreamId\": \"62\", \"result\": data.Ni + \" mg/kg\" },\n    { \"dataStreamId\": \"63\", \"result\": data.Pho + \" mg/kg\" },\n    { \"dataStreamId\": \"64\", \"result\": data.Ka + \" mg/kg\" },\n    { \"dataStreamId\": \"65\", \"result\": data.Pin + \" V\" }\n];\n\nmsg.payload = {\n    \"sensorRecords\": sensorRecords,\n    \"resultTime\": getFormattedTime()  // Cập nhật thời gian hiện tại\n};\n\nreturn msg;}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":620,"wires":[["81e5784a3e0acb2b"]]},{"id":"3d42f17e16e53169","type":"switch","z":"0328a4e527a540bb","name":"","property":"payload.ID","propertyType":"msg","rules":[{"t":"eq","v":"257","vt":"num"},{"t":"eq","v":"258","vt":"num"},{"t":"eq","v":"259","vt":"num"},{"t":"eq","v":"260","vt":"num"},{"t":"eq","v":"261","vt":"num"}],"checkall":"true","repair":false,"outputs":5,"x":770,"y":460,"wires":[["fb973e9576037010"],["8dc78011a4dbfbf0"],["0515493d2a75345b"],["a4e9f7e82cd12571"],["cedc6dde16e898d3"]]},{"id":"cedc6dde16e898d3","type":"function","z":"0328a4e527a540bb","name":"Lúa Vĩnh Long","func":"const data = msg.payload;\nfunction getFormattedTime() {\n    let now = new Date();\n    return now.toISOString(); // Trả về thời gian theo định dạng ISO 8601\n}\nif (data.hasOwnProperty(\"Tem\")) {\nconst sensorRecords = [\n    { \"dataStreamId\": \"158\", \"result\": data.Di + \" cm\" },\n    { \"dataStreamId\": \"150\", \"result\": data.Tem + \" °C\" },\n    { \"dataStreamId\": \"151\", \"result\": data.Hum + \" %rH\" },\n    { \"dataStreamId\": \"152\", \"result\": data.EC + \" µS/cm\" },\n    { \"dataStreamId\": \"153\", \"result\": data.PH + \"\" },\n    { \"dataStreamId\": \"154\", \"result\": data.Ni + \" mg/kg\" },\n    { \"dataStreamId\": \"155\", \"result\": data.Pho + \" mg/kg\" },\n    { \"dataStreamId\": \"156\", \"result\": data.Ka + \" mg/kg\" },\n    { \"dataStreamId\": \"159\", \"result\": data.Pin + \" V\" }\n];\n\nmsg.payload = {\n    \"sensorRecords\": sensorRecords,\n    \"resultTime\": getFormattedTime()  // Cập nhật thời gian hiện tại\n};\n\nreturn msg;}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":680,"wires":[["81e5784a3e0acb2b"]]},{"id":"9c433bc74cdaa51f","type":"mqtt in","z":"0328a4e527a540bb","name":"","topic":"Sink sent","qos":"2","datatype":"auto-detect","broker":"4d02509b1007ac55","nl":false,"rap":true,"rh":0,"inputs":0,"x":620,"y":460,"wires":[["3d42f17e16e53169"]]},{"id":"e431ec2341534b56","type":"mqtt out","z":"525b1f81c1454c12","name":"data/view","topic":"data/view","qos":"2","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d02509b1007ac55","x":1100,"y":300,"wires":[]},{"id":"1bacd766a0b3572c","type":"function","z":"525b1f81c1454c12","name":"CTU AQUA STATION","func":"const data = msg.payload;\nfunction getFormattedTime() {\n    let now = new Date();\n    return now.toISOString(); // Trả về thời gian theo định dạng ISO 8601\n}\nif (data.hasOwnProperty(\"Tem\")) {\nconst sensorRecords = [\n    { \"dataStreamId\": \"4\", \"result\": data.Sa + \" ppt\" },\n    { \"dataStreamId\": \"163\", \"result\": data.PH + \" H+\" },\n    { \"dataStreamId\": \"5\", \"result\": data.Tem + \" °C\" },\n    { \"dataStreamId\": \"162\", \"result\": data.NH4 + \" mg/L\" },\n    { \"dataStreamId\": \"164\", \"result\": data.Pin + \" V\" }\n];\n\nmsg.payload = {\n    \"sensorRecords\": sensorRecords,\n    \"resultTime\": getFormattedTime()  // Cập nhật thời gian hiện tại\n};\n\nreturn msg;}\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":300,"wires":[["e431ec2341534b56"]]},{"id":"8d42cabb6ff79044","type":"switch","z":"525b1f81c1454c12","name":"","property":"payload.ID","propertyType":"msg","rules":[{"t":"eq","v":"512","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":320,"wires":[["1bacd766a0b3572c"]]},{"id":"5b9cf4302627259f","type":"mqtt in","z":"525b1f81c1454c12","name":"","topic":"Sink sent","qos":"2","datatype":"auto-detect","broker":"4d02509b1007ac55","nl":false,"rap":true,"rh":0,"inputs":0,"x":340,"y":320,"wires":[["8d42cabb6ff79044"]]},{"id":"958137819f2b0ec2","type":"mqtt out","z":"e8e6e59058a1433f","name":"data/view","topic":"data/view","qos":"2","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d02509b1007ac55","x":920,"y":400,"wires":[]},{"id":"33c61601486ce9cd","type":"function","z":"e8e6e59058a1433f","name":"Khí tượng VINH LONG","func":"const data = msg.payload;\nfunction getFormattedTime() {\n    let now = new Date();\n    return now.toISOString(); // Trả về thời gian theo định dạng ISO 8601\n}\nif (data.hasOwnProperty(\"WS\")) {\nconst sensorRecords = [\n    { \"dataStreamId\": \"141\", \"result\": data.ATem + \" °C\" },\n    { \"dataStreamId\": \"142\", \"result\": data.WTem + \" °C\" },\n    { \"dataStreamId\": \"143\", \"result\": data.APr + \" KPa\" },\n    { \"dataStreamId\": \"144\", \"result\": data.WD  },\n    { \"dataStreamId\": \"145\", \"result\": data.WS + \" m/s\" },\n    { \"dataStreamId\": \"146\", \"result\": data.Ra + \" mm/minute\" },\n    { \"dataStreamId\": \"148\", \"result\": data.AHum + \" %RH\" },\n    { \"dataStreamId\": \"160\", \"result\": data.AVPD + \" kPa\" },\n    { \"dataStreamId\": \"161\", \"result\": data.Pin + \" V\" }\n];\n\nmsg.payload = {\n    \"sensorRecords\": sensorRecords,\n    \"resultTime\": getFormattedTime()  // Cập nhật thời gian hiện tại\n};\n\nreturn msg;}\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":400,"wires":[["958137819f2b0ec2"]]},{"id":"dcd0321ec4924642","type":"switch","z":"e8e6e59058a1433f","name":"","property":"payload.ID","propertyType":"msg","rules":[{"t":"eq","v":"769","vt":"num"},{"t":"eq","v":"259","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":400,"wires":[["33c61601486ce9cd"],[]]},{"id":"9c331feb0bf461a5","type":"inject","z":"e8e6e59058a1433f","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"SS\":0,\"SID\":3,\"ID\":769,\"WS\":0,\"WD\":\"North\",\"ATem\":25.4,\"AHum\":81.5,\"APr\":100.8,\"AVPD\":0.596839,\"Ra\":0,\"WTem\":26.8,\"Pin\":3.3}","payloadType":"json","x":410,"y":520,"wires":[["33c61601486ce9cd"]]},{"id":"d09210aa27b466c1","type":"mqtt in","z":"e8e6e59058a1433f","name":"","topic":"Sink sent","qos":"2","datatype":"auto-detect","broker":"4d02509b1007ac55","nl":false,"rap":true,"rh":0,"inputs":0,"x":240,"y":400,"wires":[["dcd0321ec4924642"]]},{"id":"261a34cd4cf867e1","type":"function","z":"df5cc55c18199d9c","name":"function 60","func":"let output;\n// #4 - ph\n// #5 - nitrogen\n// #6 - phosphorus \n// #7 - potassium \n// #8 - ec \n// #9 - humidity\n// #10 - temperature\nlet input;\ninput = msg.payload;\noutput ={\n  \"sensorRecords\": [\n    {\n      \"dataStreamId\": \"4\",\n      \"result\": String(input.PH)\n    },\n    {\n      \"dataStreamId\": \"5\",\n      \"result\": String(input.Ni)\n    },\n    {\n      \"dataStreamId\": \"6\",\n      \"result\": String(input.Pho)\n    },\n    {\n      \"dataStreamId\": \"7\",\n      \"result\": String(input.Ka)\n    },\n    {\n      \"dataStreamId\": \"8\",\n      \"result\": String(input.EC)\n    },\n    {\n      \"dataStreamId\": \"9\",\n      \"result\": String(input.Humidity)\n    },\n    {\n      \"dataStreamId\": \"10\",\n      \"result\": String(input.tem)\n    }\n  ],\n  \"resultTime\": null\n}\nmsg.payload=output;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":280,"wires":[["a2c065efa942c37e"]]},{"id":"4c231583697f8195","type":"mqtt in","z":"df5cc55c18199d9c","name":"","topic":"HANDHELDDEVICE1Send","qos":"2","datatype":"auto-detect","broker":"4d02509b1007ac55","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":280,"wires":[["261a34cd4cf867e1","9856e23ffe087b56"]]},{"id":"9856e23ffe087b56","type":"debug","z":"df5cc55c18199d9c","name":"debug 139","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":130,"y":360,"wires":[]},{"id":"a2c065efa942c37e","type":"mqtt out","z":"df5cc55c18199d9c","name":"","topic":"seiot48-sensor-data","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d02509b1007ac55","x":600,"y":300,"wires":[]},{"id":"9d9436f2c922d401","type":"mqtt in","z":"241b9e1b3f0171bb","name":"MQTT In","topic":"lora/ra02/up","qos":"2","datatype":"auto","broker":"4d02509b1007ac55","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":220,"wires":[["7413130ac74191a0","c3ed26cdadcf8c4e"]]},{"id":"7413130ac74191a0","type":"function","z":"241b9e1b3f0171bb","name":"Parse 7 values","func":"// Nếu msg.payload là string JSON, parse thành object\nlet obj;\nif (typeof msg.payload === \"string\") {\n    try {\n        obj = JSON.parse(msg.payload);\n    } catch (e) {\n        node.warn(\"Không parse được JSON: \" + msg.payload);\n        return null;\n    }\n} else {\n    obj = msg.payload;\n}\n\n// Lấy chuỗi dữ liệu thực sự\nlet raw = obj.payload;\nif (typeof raw !== \"string\") {\n    node.warn(\"Không tìm thấy trường payload string\");\n    return null;\n}\n\nlet payload = raw.trim();\npayload = payload.replace(/[{}]/g, \"\");\nlet parts = payload.split(\",\");\n\nif (parts.length === 7) {\n    let data = {\n        CH4: parseFloat(parts[0]),\n        CO: parseFloat(parts[1]),\n        C2H5OH: parseFloat(parts[2]),\n        NH3: parseFloat(parts[3]),\n        H2: parseFloat(parts[4]),\n        TEMP: parseFloat(parts[5]),\n        HUM: parseFloat(parts[6])\n    };\n\n    return [\n        {topic:\"CH4\", payload:data.CH4},\n        {topic:\"CO\", payload:data.CO},\n        {topic:\"C2H5OH\", payload:data.C2H5OH},\n        {topic:\"NH3\", payload:data.NH3},\n        {topic:\"H2\", payload:data.H2},\n        {topic:\"TEMP\", payload:data.TEMP},\n        {topic:\"HUM\", payload:data.HUM}\n    ];\n}\nreturn null;\n","outputs":7,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":220,"wires":[["01c6869f0244eed6"],["01c6869f0244eed6"],["01c6869f0244eed6"],["01c6869f0244eed6"],["01c6869f0244eed6"],["17db7910dfbbfb09"],["d8c2d38caef669c3"]]},{"id":"01c6869f0244eed6","type":"ui_chart","z":"241b9e1b3f0171bb","name":"Gas Chart","group":"e89e202ecb04b862","order":3,"width":0,"height":0,"label":"GASES","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Chưa có dữ liệu","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff0000","#00ff00","#0000ff","#ff00ff","#00ffff","#000000","#000000","#000000","#000000"],"outputs":1,"useDifferentColor":false,"className":"","x":610,"y":200,"wires":[["5df57194cd63a85a"]]},{"id":"2e0b501342045d9a","type":"ui_button","z":"241b9e1b3f0171bb","name":"START","group":"9d38a2286734a729","order":4,"width":0,"height":0,"passthru":false,"label":"START","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"START","topicType":"str","x":360,"y":420,"wires":[["01670da4c661e659"]]},{"id":"ae84a570e264cfdb","type":"ui_button","z":"241b9e1b3f0171bb","name":"STOP","group":"9d38a2286734a729","order":5,"width":0,"height":0,"passthru":false,"label":"STOP","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"STOP","topicType":"str","x":350,"y":460,"wires":[["01670da4c661e659"]]},{"id":"63795240d7e52dca","type":"ui_button","z":"241b9e1b3f0171bb","name":"ON_DOOR","group":"9d38a2286734a729","order":7,"width":0,"height":0,"passthru":false,"label":"OPEN DOOR","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"ON_DOOR","topicType":"str","x":370,"y":500,"wires":[["01670da4c661e659"]]},{"id":"0fb5f8781c878c7a","type":"ui_button","z":"241b9e1b3f0171bb","name":"OFF_DOOR","group":"9d38a2286734a729","order":8,"width":0,"height":0,"passthru":false,"label":"CLOSE DOOR","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"OFF_DOOR","topicType":"str","x":370,"y":540,"wires":[["01670da4c661e659"]]},{"id":"f21728daa6889bac","type":"ui_button","z":"241b9e1b3f0171bb","name":"ON_FANS","group":"9d38a2286734a729","order":10,"width":0,"height":0,"passthru":false,"label":"FANS ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"ON_FANS","topicType":"str","x":370,"y":580,"wires":[["01670da4c661e659"]]},{"id":"10578386df1fb257","type":"ui_button","z":"241b9e1b3f0171bb","name":"OFF_FANS","group":"9d38a2286734a729","order":11,"width":0,"height":0,"passthru":false,"label":"FANS OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"OFF_FANS","topicType":"str","x":370,"y":620,"wires":[["01670da4c661e659"]]},{"id":"01670da4c661e659","type":"function","z":"241b9e1b3f0171bb","name":"Build 6-value frame","func":"let frame = [0,0,0,0,0,0,0,0];\n\nswitch (msg.topic) {\n    case \"AUTO\": frame[0] = 1; break;\n    case \"MANUAL\": frame[1] = 1; break;\n    case \"START\": frame[2] = 1; break;\n    case \"STOP\": frame[3] = 1; break;\n    case \"ON_DOOR\": frame[4] = 1; break;\n    case \"OFF_DOOR\": frame[5] = 1; break;\n    case \"ON_FANS\": frame[6] = 1; break;\n    case \"OFF_FANS\": frame[7] = 1; break;\n}\n\nmsg.payload = `{${frame.join(\",\")}}`;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":520,"wires":[["a757783a907b17f0","d207e11d74b08739"]]},{"id":"a757783a907b17f0","type":"mqtt out","z":"241b9e1b3f0171bb","name":"MQTT Control Out","topic":"lora/ra02/down","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d02509b1007ac55","x":880,"y":520,"wires":[]},{"id":"d207e11d74b08739","type":"debug","z":"241b9e1b3f0171bb","name":"debug 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":620,"wires":[]},{"id":"5df57194cd63a85a","type":"debug","z":"241b9e1b3f0171bb","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":860,"y":200,"wires":[]},{"id":"c3ed26cdadcf8c4e","type":"debug","z":"241b9e1b3f0171bb","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":360,"y":140,"wires":[]},{"id":"17db7910dfbbfb09","type":"ui_gauge","z":"241b9e1b3f0171bb","name":"Gauge Temp","group":"e89e202ecb04b862","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":610,"y":240,"wires":[]},{"id":"d8c2d38caef669c3","type":"ui_gauge","z":"241b9e1b3f0171bb","name":"Gauge Hum","group":"e89e202ecb04b862","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":610,"y":280,"wires":[]},{"id":"ab03f4d6e63de75f","type":"ui_button","z":"241b9e1b3f0171bb","name":"AUTO","group":"9d38a2286734a729","order":1,"width":0,"height":0,"passthru":false,"label":"AUTO","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"AUTO","topicType":"str","x":130,"y":460,"wires":[["01670da4c661e659","1fc04da41088f309"]]},{"id":"819ce9c1560607ad","type":"ui_button","z":"241b9e1b3f0171bb","name":"MANUAL","group":"9d38a2286734a729","order":2,"width":0,"height":0,"passthru":false,"label":"MANUAL","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"MANUAL","topicType":"str","x":140,"y":580,"wires":[["01670da4c661e659","1fc04da41088f309"]]},{"id":"1fc04da41088f309","type":"change","z":"241b9e1b3f0171bb","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":520,"wires":[["2e0b501342045d9a","ae84a570e264cfdb","63795240d7e52dca","0fb5f8781c878c7a","f21728daa6889bac","10578386df1fb257"]]},{"id":"5c33689e7859f1c8","type":"ui_text_input","z":"30a505e785062d99","name":"SID","label":"SID","tooltip":"","group":"639f7855858d9b10","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":430,"y":160,"wires":[["e422ca805a330ccd"]]},{"id":"e422ca805a330ccd","type":"function","z":"30a505e785062d99","name":"function 31","func":"flow.set(\"SID\", msg.payload);\nreturn null; \n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":160,"wires":[["d84d5c86c8331228"]]},{"id":"d84d5c86c8331228","type":"ui_button","z":"30a505e785062d99","name":"","group":"639f7855858d9b10","order":5,"width":0,"height":0,"passthru":false,"label":"SENT","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"1","payloadType":"num","topic":"topic","topicType":"msg","x":810,"y":160,"wires":[["8d5db15c69d26356"]]},{"id":"db5dbc181f2290bf","type":"ui_dropdown","z":"30a505e785062d99","name":"Command ","label":"Command ","tooltip":"","place":"Select option","group":"639f7855858d9b10","order":2,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"INSTALLATION MODE","value":"IS","type":"str"},{"label":"NORMAL MODE","value":"NIS","type":"str"},{"label":"RESET","value":"RS","type":"str"},{"label":"GET DATA","value":"GD","type":"str"},{"label":"CLEAR SAVED WIFI","value":"CLW","type":"str"},{"label":"SCAN NUMBER OF NODE ","value":"SCN","type":"str"},{"label":"CLEAR ALL NODE","value":"CLN","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":410,"y":220,"wires":[["a908a18e68ea3839"]]},{"id":"a908a18e68ea3839","type":"function","z":"30a505e785062d99","name":"function 32","func":"flow.set(\"CMS\", msg.payload);\nreturn null; \n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":220,"wires":[["d84d5c86c8331228"]]},{"id":"8d5db15c69d26356","type":"function","z":"30a505e785062d99","name":"function 33","func":"msg.payload = {\n    SS:1,\n    SID: flow.get(\"SID\"),\n    ID:0,\n    CM: flow.get(\"CMS\")\n};\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":990,"y":160,"wires":[["cc90a91d22cc567a"]]},{"id":"aa497a60147a8d65","type":"ui_text_input","z":"30a505e785062d99","name":"SID","label":"SID","tooltip":"","group":"93bcd71219caa949","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":430,"y":280,"wires":[["7a8b0c8a762e92dc"]]},{"id":"7a8b0c8a762e92dc","type":"function","z":"30a505e785062d99","name":"function 35","func":"flow.set(\"SID\", msg.payload);\nreturn null; \n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":280,"wires":[["5fa441d836c67ad2"]]},{"id":"5fa441d836c67ad2","type":"ui_button","z":"30a505e785062d99","name":"","group":"93bcd71219caa949","order":5,"width":0,"height":0,"passthru":false,"label":"SENT","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"1","payloadType":"num","topic":"topic","topicType":"msg","x":810,"y":280,"wires":[["a26bb5e48235a59f","0dac2cbed6dd001d","5de472c2ffefdb1e"]]},{"id":"c42a8185f4f39f8c","type":"ui_dropdown","z":"30a505e785062d99","name":"Command ","label":"Command ","tooltip":"","place":"Select option","group":"93bcd71219caa949","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"RESET","value":"RS","type":"str"},{"label":"GET DATA","value":"GD","type":"str"},{"label":"CHECK HEALTH","value":"CH","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":410,"y":400,"wires":[["ae5f8f5c34572b13"]]},{"id":"ae5f8f5c34572b13","type":"function","z":"30a505e785062d99","name":"function 36","func":"flow.set(\"CM\", msg.payload);\nreturn null; \n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":400,"wires":[["5fa441d836c67ad2"]]},{"id":"6139b4944a6e2493","type":"ui_text_input","z":"30a505e785062d99","name":"NID","label":"NID","tooltip":"","group":"93bcd71219caa949","order":2,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":430,"y":340,"wires":[["c477842bcb690393"]]},{"id":"c477842bcb690393","type":"function","z":"30a505e785062d99","name":"function 37","func":"flow.set(\"NID\", msg.payload);\nreturn null; \n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":340,"wires":[["5fa441d836c67ad2"]]},{"id":"027692124136cca9","type":"ui_form","z":"30a505e785062d99","name":"","label":"","group":"5c41146a6955c323","order":1,"width":0,"height":0,"options":[{"label":"SID","value":"STATION ID","type":"number","required":false,"rows":null},{"label":"ID","value":"NODE ID","type":"number","required":false,"rows":null},{"label":"LRS","value":"LoRa","type":"text","required":false,"rows":null},{"label":"LRB","value":"LoRa BAND","type":"text","required":false,"rows":null},{"label":"LRF","value":"LoRa FREQUENCY","type":"text","required":false,"rows":null},{"label":"LROP","value":"LoRa OUTPUT POWER","type":"text","required":false,"rows":null},{"label":"RSSI","value":"RSSI","type":"text","required":false,"rows":null},{"label":"SNR","value":"SNR","type":"text","required":false,"rows":null},{"label":"Tem","value":"TEMPERATURE","type":"text","required":false,"rows":null},{"label":"Hum","value":"HUMIDITY","type":"text","required":false,"rows":null},{"label":"EC","value":"EC","type":"text","required":false,"rows":null},{"label":"Ni","value":"POTASSIUM NITRATE","type":"text","required":false,"rows":null},{"label":"Pho","value":"PHOSPHORUS","type":"text","required":false,"rows":null},{"label":"Ka","value":"POTASSIUM","type":"text","required":false,"rows":null},{"label":"Pin","value":"BATERY","type":"text","required":false,"rows":null}],"formValue":{"STATION ID":"","NODE ID":"","LoRa":"","LoRa BAND":"","LoRa FREQUENCY":"","LoRa OUTPUT POWER":"","RSSI":"","SNR":"","TEMPERATURE":"","HUMIDITY":"","EC":"","POTASSIUM NITRATE":"","PHOSPHORUS":"","POTASSIUM":"","BATERY":""},"payload":"","submit":"","cancel":"","topic":"payload","topicType":"msg","splitLayout":"","className":"","x":870,"y":500,"wires":[[]]},{"id":"37ef89dc308e828e","type":"function","z":"30a505e785062d99","name":"function 38","func":"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":500,"wires":[["a07864bac85f9568","5e1705e58f08baaf","5d4484d111f1016f"]]},{"id":"89c98fd1716bc4c2","type":"function","z":"30a505e785062d99","name":"function 39","func":"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":500,"wires":[["027692124136cca9"]]},{"id":"a07864bac85f9568","type":"switch","z":"30a505e785062d99","name":"","property":"payload.CM","propertyType":"msg","rules":[{"t":"eq","v":"CH","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":500,"wires":[["89c98fd1716bc4c2"]]},{"id":"5a6db81f05d7b2ed","type":"ui_switch","z":"30a505e785062d99","name":"Installation Mode","label":"Installation Mode","tooltip":"","group":"639f7855858d9b10","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"className":"","x":730,"y":580,"wires":[[]]},{"id":"5e1705e58f08baaf","type":"function","z":"30a505e785062d99","name":"function 40","func":"if (msg.payload.hasOwnProperty(\"CM\")) {\nif (msg.payload.CM==\"IS\"){\n    msg.payload=1;\n    return msg;}\nelse if (msg.payload.CM == \"NIS\"){\n    msg.payload=0;\n    return msg;}\n}\nelse return null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":580,"wires":[["5a6db81f05d7b2ed"]]},{"id":"95ee329c62966ea4","type":"ui_text_input","z":"30a505e785062d99","name":"Response From Sink","label":"Response From Sink","tooltip":"","group":"639f7855858d9b10","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"payload","sendOnBlur":true,"className":"","topicType":"msg","x":760,"y":640,"wires":[[]]},{"id":"5d4484d111f1016f","type":"function","z":"30a505e785062d99","name":"function 41","func":"let data=msg.payload;\nif (msg.payload.hasOwnProperty(\"CM\")) {\n    if (msg.payload.CM==\"IS\"||msg.payload.CM == \"NIS\"){\n        msg.payload= JSON.stringify(data);\n        return msg;}\n    else return null;\n}\nelse return null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":640,"wires":[["95ee329c62966ea4"]]},{"id":"a26bb5e48235a59f","type":"ui_switch","z":"30a505e785062d99","name":"","label":"Send To Node","tooltip":"","group":"93bcd71219caa949","order":4,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"className":"","x":1040,"y":400,"wires":[[]]},{"id":"d95b9839c46f1ad3","type":"delay","z":"30a505e785062d99","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":840,"y":400,"wires":[["a26bb5e48235a59f"]]},{"id":"0dac2cbed6dd001d","type":"function","z":"30a505e785062d99","name":"function 44","func":"msg.payload=0;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":360,"wires":[["d95b9839c46f1ad3"]]},{"id":"5de472c2ffefdb1e","type":"function","z":"30a505e785062d99","name":"function 42","func":"msg.payload = {\n    SS:1,\n    SID: flow.get(\"SID\"),\n    ID:flow.get(\"NID\"),\n    CM: flow.get(\"CM\")\n};\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":990,"y":280,"wires":[["cc90a91d22cc567a","4104011dd60d22f8"]]},{"id":"cc90a91d22cc567a","type":"mqtt out","z":"30a505e785062d99","name":"","topic":"Sink receive","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d02509b1007ac55","x":1210,"y":160,"wires":[]},{"id":"64590262eb369f91","type":"mqtt in","z":"30a505e785062d99","name":"","topic":"Sink sent","qos":"2","datatype":"auto-detect","broker":"4d02509b1007ac55","nl":false,"rap":true,"rh":0,"inputs":0,"x":100,"y":500,"wires":[["37ef89dc308e828e"]]},{"id":"4104011dd60d22f8","type":"debug","z":"30a505e785062d99","name":"debug 138","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1250,"y":260,"wires":[]},{"id":"a5920902ac3ce8ad","type":"mqtt out","z":"c6c4e896a1e43f7c","name":"","topic":"Sink sent","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d02509b1007ac55","x":560,"y":260,"wires":[]},{"id":"92b2e5571816a1eb","type":"mqtt in","z":"c6c4e896a1e43f7c","name":"","topic":"Sink receive","qos":"2","datatype":"auto-detect","broker":"4d02509b1007ac55","nl":false,"rap":true,"rh":0,"inputs":0,"x":790,"y":220,"wires":[["c13c1b79fe64a106"]]},{"id":"4d8eeaabb2a4cdb9","type":"mqtt in","z":"c6c4e896a1e43f7c","name":"","topic":"Sink001Sent","qos":"2","datatype":"auto-detect","broker":"4d02509b1007ac55","nl":false,"rap":true,"rh":0,"inputs":0,"x":290,"y":120,"wires":[["ba298f3e88659b95","a5920902ac3ce8ad"]]},{"id":"0c8f82ca4c6bd9eb","type":"mqtt in","z":"c6c4e896a1e43f7c","name":"","topic":"Sink002Sent","qos":"2","datatype":"auto-detect","broker":"4d02509b1007ac55","nl":false,"rap":true,"rh":0,"inputs":0,"x":290,"y":200,"wires":[["2cafc3d33670a072","a5920902ac3ce8ad"]]},{"id":"2cafc3d33670a072","type":"debug","z":"c6c4e896a1e43f7c","name":"debug 132","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":290,"y":240,"wires":[]},{"id":"ba298f3e88659b95","type":"debug","z":"c6c4e896a1e43f7c","name":"debug 133","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":290,"y":160,"wires":[]},{"id":"348f5cf8efa56f1c","type":"mqtt in","z":"c6c4e896a1e43f7c","name":"","topic":"Sink003Sent","qos":"2","datatype":"auto-detect","broker":"4d02509b1007ac55","nl":false,"rap":true,"rh":0,"inputs":0,"x":290,"y":280,"wires":[["2f9d9ee15b7b1aba","a5920902ac3ce8ad"]]},{"id":"2f9d9ee15b7b1aba","type":"debug","z":"c6c4e896a1e43f7c","name":"debug 134","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":290,"y":320,"wires":[]},{"id":"33bac55d29cf3057","type":"mqtt in","z":"c6c4e896a1e43f7c","name":"","topic":"Sink004Sent","qos":"2","datatype":"auto-detect","broker":"4d02509b1007ac55","nl":false,"rap":true,"rh":0,"inputs":0,"x":290,"y":360,"wires":[["b8da5e049a6b3488","a5920902ac3ce8ad"]]},{"id":"b8da5e049a6b3488","type":"debug","z":"c6c4e896a1e43f7c","name":"debug 135","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":290,"y":400,"wires":[]},{"id":"b9b24204f0da1dfd","type":"mqtt in","z":"c6c4e896a1e43f7c","name":"","topic":"Sink005Sent","qos":"2","datatype":"auto-detect","broker":"4d02509b1007ac55","nl":false,"rap":true,"rh":0,"inputs":0,"x":290,"y":440,"wires":[["9a6bde0a34102d34","a5920902ac3ce8ad"]]},{"id":"9a6bde0a34102d34","type":"debug","z":"c6c4e896a1e43f7c","name":"debug 136","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":290,"y":480,"wires":[]},{"id":"8f525bfcf885224f","type":"mqtt out","z":"c6c4e896a1e43f7c","name":"","topic":"Sink001Recieve","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d02509b1007ac55","x":1180,"y":180,"wires":[]},{"id":"e715c0d22a9ecd80","type":"mqtt out","z":"c6c4e896a1e43f7c","name":"","topic":"Sink002Recieve","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d02509b1007ac55","x":1180,"y":220,"wires":[]},{"id":"b87823db8832be64","type":"mqtt out","z":"c6c4e896a1e43f7c","name":"","topic":"Sink003Recieve","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d02509b1007ac55","x":1180,"y":260,"wires":[]},{"id":"c13c1b79fe64a106","type":"switch","z":"c6c4e896a1e43f7c","name":"","property":"payload.SID","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":950,"y":220,"wires":[["8f525bfcf885224f"],["e715c0d22a9ecd80"],["b87823db8832be64"],["96a18da777fbc624"],["2e5c24a40a6a575d"]]},{"id":"96a18da777fbc624","type":"mqtt out","z":"c6c4e896a1e43f7c","name":"","topic":"Sink004Recieve","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d02509b1007ac55","x":1180,"y":300,"wires":[]},{"id":"2e5c24a40a6a575d","type":"mqtt out","z":"c6c4e896a1e43f7c","name":"","topic":"Sink005Recieve","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4d02509b1007ac55","x":1180,"y":340,"wires":[]}]