flow/handheldevice.json
[
    {
        "id": "af96f384c49a4b72",
        "type": "tab",
        "label": "HANDHELDEVICE",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cedf6850c9afcba7",
        "type": "inject",
        "z": "af96f384c49a4b72",
        "name": "data from sensor",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"stationID\":1,\"Humidity\":40,\"PH\":5.85,\"Ni\":3642,\"Pho\":12.2,\"Ka\":110,\"EC\":1.2,\"tem\":31}",
        "payloadType": "json",
        "x": 780,
        "y": 800,
        "wires": [
            [
                "f979e53bfa783069"
            ]
        ]
    },
    {
        "id": "4e741edf21cea9ba",
        "type": "debug",
        "z": "af96f384c49a4b72",
        "name": "debug 43",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 660,
        "wires": []
    },
    {
        "id": "42e588842ae481e3",
        "type": "mqtt in",
        "z": "af96f384c49a4b72",
        "name": "",
        "topic": "HANDHELDDEVICESend",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4d02509b1007ac55",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 600,
        "wires": [
            [
                "4e741edf21cea9ba",
                "86cf10b8abe16f51"
            ]
        ]
    },
    {
        "id": "f979e53bfa783069",
        "type": "function",
        "z": "af96f384c49a4b72",
        "name": "function 20",
        "func": "let data = msg.payload;\nfunction getFormattedTime() {\n    let now = new Date();\n    return now.toISOString(); // Trả về thời gian theo định dạng ISO 8601\n}\n msg.payload = {\n     \"sensorRecords\": [\n         {\n             \"dataStreamId\": \"2\",\n             \"result\": data.Ni\n         },\n         {\n             \"dataStreamId\": \"3\",\n             \"result\": data.Pho\n         },\n         {\n             \"dataStreamId\": \"4\",\n             \"result\": data.Ka\n         },\n         {\n             \"dataStreamId\": \"5\",\n             \"result\": data.PH\n         },\n         {\n             \"dataStreamId\": \"6\",\n             \"result\": data.tem\n         },\n         {\n             \"dataStreamId\": \"7\",\n             \"result\": data.Humidity\n         },\n         {\n             \"dataStreamId\": \"8\",\n             \"result\": data.EC\n         },\n           {\n             \"dataStreamId\": \"9\",\n             \"result\": 89\n         }\n      \n     ],\n     \"resultTime\": getFormattedTime()\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 700,
        "wires": [
            [
                "e75fce2c19f643e0",
                "1bcacc696ecee462",
                "67ed3f7c6f61bc63"
            ]
        ]
    },
    {
        "id": "e75fce2c19f643e0",
        "type": "debug",
        "z": "af96f384c49a4b72",
        "name": "debug 44",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 580,
        "wires": []
    },
    {
        "id": "6e4f1b62027f723c",
        "type": "inject",
        "z": "af96f384c49a4b72",
        "name": "Input target object",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Datastream\": {\"id\": 1},\"result\": [{\"Humidity\": 0,\"Kali\": 21,\"Nito\": 31,\"Photpho\": 75,\"pH\": 0,\"Temperature\": 0,\"EC\": 0,\"Distance\": 71,\"Battery\": 2156}]}",
        "payloadType": "json",
        "x": 1090,
        "y": 800,
        "wires": [
            [
                "1bcacc696ecee462"
            ]
        ]
    },
    {
        "id": "1bcacc696ecee462",
        "type": "mqtt out",
        "z": "af96f384c49a4b72",
        "name": "request_to_server",
        "topic": "request_to_server",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4d02509b1007ac55",
        "x": 1170,
        "y": 700,
        "wires": []
    },
    {
        "id": "02e34bc8f941484d",
        "type": "mqtt in",
        "z": "af96f384c49a4b72",
        "name": "",
        "topic": "response_from_server",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e488f4730507f4d2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 480,
        "y": 880,
        "wires": [
            [
                "aa8ff5c3254c7706"
            ]
        ]
    },
    {
        "id": "aa8ff5c3254c7706",
        "type": "debug",
        "z": "af96f384c49a4b72",
        "name": "debug 45",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 880,
        "wires": []
    },
    {
        "id": "77d6adf53366b01d",
        "type": "mqtt in",
        "z": "af96f384c49a4b72",
        "name": "",
        "topic": "HANDHELDDEVICERecieve",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4d02509b1007ac55",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 480,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "86cf10b8abe16f51",
        "type": "function",
        "z": "af96f384c49a4b72",
        "name": "function 55",
        "func": "let data = msg.payload;\nif (data.ID===\"SOILDDEVICE\"){\n    data.ID=1;\n}\nmsg.payload=data;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 680,
        "wires": [
            [
                "f979e53bfa783069"
            ]
        ]
    },
    {
        "id": "256821cb4bd3899a",
        "type": "mqtt in",
        "z": "af96f384c49a4b72",
        "name": "",
        "topic": "HANDHELDDEVICE1Send",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4d02509b1007ac55",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 720,
        "wires": [
            [
                "86cf10b8abe16f51",
                "ab4d0427912352a5"
            ]
        ]
    },
    {
        "id": "8c71f4217b9b4d18",
        "type": "mqtt in",
        "z": "af96f384c49a4b72",
        "name": "",
        "topic": "HANDHELDDEVICE1Recieve",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4d02509b1007ac55",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 480,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "ab4d0427912352a5",
        "type": "debug",
        "z": "af96f384c49a4b72",
        "name": "debug 96",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 780,
        "wires": []
    },
    {
        "id": "67ed3f7c6f61bc63",
        "type": "debug",
        "z": "af96f384c49a4b72",
        "name": "debug 97",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 580,
        "wires": []
    },
    {
        "id": "4d02509b1007ac55",
        "type": "mqtt-broker",
        "name": "iotlab",
        "broker": "dev.iotlab.net.vn",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e488f4730507f4d2",
        "type": "mqtt-broker",
        "d": true,
        "name": "hivemq",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "mqtt-client-64b3dc8f96d2f",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]